[2011-09-20 20:29] emosesSfdc opened #3 "Client always follows redirects"
There's no way to set the flag on the Apache client that tells it not to follow redirects; instead it appears that they're always followed.  I want to handle a 302 response myself, rather than getting the result of the redirected request.

[2011-09-21 23:31] #3 closed, assigned to nobody

[2011-09-24 04:57] bmabey opened #8 "persistent connections"
Hi,
`clj-http` appears to be creating and destroying a connection for each request.  This is fine in many circumstances but when dealing with an API persistent connections are preffered for time and resource savings.  Are persistent connections a non-objective for `clj-http` or is it something that you would like to see happen?

A simple approach would be to provide a `http-client` constructor in

[2011-09-29 08:48] jwr opened #9 "NullPointerException when requesting headers from a buggy server"
[code]

Now, this is a misbehaving server, as a quick test with curl shows:

[code]

but I would expect clj-http to do something more reasonable than throw an exception, especially since I've requested that exceptions not be thrown. Parse the partial reply? Return nil? Return a result map with :status set to nil? I don't really know what the best choice is.

[2011-10-15 07:20] Raynes opened #10 "Decompression not working properly"
In 0.2.1, decompression doesn't seem to be working right:

[code]

This is in a fresh clojure 1.3 REPL.

I discovered this while updating your cd-client to 1.3 and 0.2.1 of clj-http. This only happens with 0.2.1. It works fine with the older version.

[2011-10-16 18:54] seancorfield opened #11 "Reflection warnings"
Against Clojure 1.3.0:

[code]

[2011-10-17 01:21] kevinburke opened #12 "Better error messages for bad requests"
When I'm debugging a request that's getting a 400 Bad Request header, or a 401 Authorization Required from the server, it's really helpful to actually be able to read the response body, or view the headers being sent to the server, so I can debug what's wrong with the query. I know clj-http is a wrapper on top of an Apache library, but I can't figure out how to get the response body on a 400 bad r

[2011-10-18 03:27] #10 closed, assigned to nobody

[2011-10-18 03:39] #9 closed, assigned to nobody

[2011-10-19 16:55] #12 closed, assigned to nobody

[2011-10-27 18:07] locopati opened #15 "Provide a means of capturing the request"
I'm using clj-http in request testing a service. Through the underlying HTTPClient4, it'd be great if the base get/post/etc methods could provide a hook for getting info about the request (URL + headers) for reporting during the testing - maybe a switch to return both request + response data? Probably there's a better clojure idiom that fits here. The alternative is to setup an embedded proxy (whi

[2011-10-28 15:41] locopati opened #17 "Turn off exceptions on non-200/300 codes"
The library makes an assumption that a non-200/300 code is something that should be handled using exceptions. Better to return the reponse map and let the developer's application decide whether or not an exception is needed. The current behavior forces a developer to use try/catch blocks defensively wherease the proposed behavior would allow the application to make simpler calls with clj-http.

[2011-10-28 16:20] Quantisan opened #18 "302 redirects not working?"
[code]

[2011-10-28 19:03] #17 closed, assigned to nobody

[2011-10-31 16:00] #18 closed, assigned to nobody

[2011-11-09 16:16] locopati opened #22 "Turning off org.apache.http logging?"
When I run code using clj-http in the repl, I'm seeing a ton of logging messges like...
DEBUG            pool-1-thread-18 20111109 095547,513 org.apache.http.impl.conn.SingleClientConnManager ] Releasing connection org.apache.http.impl.conn.SingleClientConnManager$ConnAdapter@4ea6c971
DEBUG            pool-1-thread-18 20111109 095547,513 org.apache.http.impl.conn.SingleClientConnManager ] Released

[2011-11-10 16:05] #22 closed, assigned to nobody

[2011-11-13 03:46] #8 closed, assigned to nobody

[2011-11-20 08:04] Raynes opened #23 "Provide a way to do multipart/form-data"
I ran into a bit of trouble while writing my Github API library. The Github downloads API requires you to upload files to AWS, and aws requires multipart form data. There doesn't seem to be a way to do this in clj-http.

[2011-11-22 23:41] #23 closed, assigned to nobody

[2011-12-07 19:35] dcj opened #26 "No tagged for released version 0.2.5?"
I can't seem to find a tag associated with release 0.2.5....

[2011-12-07 20:28] #26 closed, assigned to nobody

[2011-12-08 20:23] #15 closed, assigned to nobody

[2011-12-13 17:35] locopati opened #28 "Make request functions dynamic"
It'd be helpful if the get, head, post, put, delete functions in client.clj were marked ^:dynamic; in Clojure 1.3, variables need to be explicitly marked with ^:dynamic to be rebindable.

Using the clojure.core/binding macro to replace those functions allows using different HTTP libraries during testing. In this case, I have test code written to use clj-http, and I am also using [The Grinder](http

[2011-12-21 13:48] locopati opened #29 "Large downloads are extremely slow"
Using the clojure download (4.3MB)
http://repo1.maven.org/maven2/org/clojure/clojure/1.3.0/clojure-1.3.0.zip

In a browser, the download takes about 5s
In a REPL with clj-http.client/get, the download takes nearly 10 minutes

Similar behavior observed for a 1MB download (2sec v 2.5min)

This limits the usefulness of clj-http for working with big gets in a program.

[2011-12-23 13:07] #29 closed, assigned to nobody

[2011-12-29 15:35] #11 closed, assigned to nobody

[2012-01-04 19:35] ghost opened #32 "encoding problem"
When I try to retrieve a page with encoding different from UTF-8, I get \� instead of non-latin letters. Probably it's because of this line of code: https://github.com/dakrone/clj-http/blob/master/src/clj_http/client.clj#L80
As a temporary workaround, I manually create a string object with right encoding:
`(-> url (client/get {:as :byte-array}) :body (String. "windows-1251"))`

[2012-01-04 22:00] #32 closed, assigned to nobody

[2012-01-05 10:48] ath opened #33 "Eliminate Reflection Warnings"
In my project.clj file I typically include <code>:warn-on-reflection true</code>, which revealed the following warnings for clj-http:

<pre>
Reflection warning, clj_http/cookies.clj:65 - call to parse can't be resolved.
Reflection warning, clj_http/cookies.clj:94 - call to formatCookies can't be resolved.
Reflection warning, clj_http/cookies.clj:96 - reference to field getValue can't be resolved.

[2012-01-05 11:24] #33 closed, assigned to nobody

[2012-01-17 23:11] kumarshantanu opened #35 "Make error messages clearer"
When executing a GET operation I got this from a Ring server:

[code]

It should clearly say what was it expecting and what did it find instead. Without that, it's hard to debug what's wrong.

[2012-01-25 23:00] dakrone opened #37 "Allow byte array bodies without coercion"
In order not to copy bodies, allow byte array bodies that are set as the Entity with no coercion.

[2012-01-27 19:59] locopati opened #38 ":throw-exceptions false does not catch 'the target server failed to response'"
When a server fails to respond completely, I'd still expect :throw-exceptions false to translate the exception to a response map (even if the map is mostly empty)

[2012-01-31 17:27] #28 closed, assigned to nobody

[2012-01-31 17:37] #38 closed, assigned to nobody

[2012-01-31 17:37] #37 closed, assigned to nobody

[2012-01-31 18:18] dakrone opened #39 "Allow returning a stream of output from response"

[2012-02-04 04:03] #39 closed, assigned to nobody

[2012-02-04 10:09] emasaka opened #41 "conflicts with clj-json"
clj-http 0.3.x conflicts with clj-json.

I don't know which library is bad, but clj-http 0.2.7 doesn't conflict.
### How to reproduce:

[code]

[2012-02-04 10:22] #41 closed, assigned to nobody

[2012-02-06 16:06] ngrunwald opened #43 "Allow to set maximum number of redirections in wrap-redirects"
Many pages on the web have through ill-intent or plain negligence cyclic redirections which will stall the client if it follows them blindly. Allowing to specify a maximum number of redirections to follow makes the process optionally more robust. The patch is backward-compatible and comes with a test.

[2012-02-06 17:12] #43 closed, assigned to nobody

[2012-02-06 17:34] ngrunwald opened #45 "Evolution suggestion: have wrap-redirects store a vector of traversed uri in the response"
add a key like :trace-redirects in the response containing the ordered list of traversed uris. This would allow clients to know what was the final uri fetched more easily than now (I think the only way is to set :save-request? and check the url inside the req). It could also be very useful for caching purpose (knowing all the uris which are equivalent to the terminal one).
If you're interested, I

[2012-02-13 10:39] #45 closed, assigned to nobody

[2012-02-21 14:16] ngrunwald opened #50 "Add support to handle relative redirections"
Some redirections look like "/bat" relative to the current url.

[2012-02-21 14:24] #50 closed, assigned to ngrunwald

[2012-03-22 18:25] dku opened #54 "Wrong Content-Length header for POST request"
clj-http seems to have an issues with generating headers for POST requests:
- Content-Length is always set to 0
- Content-Type is not set at all (should be "application/x-www-form-urlencoded" for URL-encoded form parameters)

Tested with clj-http-0.3.3 and this client code:

(client/post "http://localhost:8888/test" {:form-params {:foo "bar"}})

[2012-03-25 21:40] #54 closed, assigned to nobody

[2012-04-02 11:28] cemerick opened #57 "wrap-redirects should redirect POST responses too"
Redirecting after a POST is very common, but `wrap-redirects` only follows redirects on GET and HEAD requests (and only follows `303` responses on HEADs, which seems very odd).  Reading [the relevant spec sections](https://tools.ietf.org/html/rfc2616#section-10.3.3), it seems that any valid `3xx` response code should be followed, with the `:method` always altered to a `:get`.

This is technically

[2012-04-03 21:37] dakrone opened #59 "Implement our own X509 hostname verifier to work around JDK limitations"
The JDK doesn't like certs with leading wildcards (like *.hostname.com), and it turns out the only way to handle them is to write your own verifier.

An example of a verifier that _might_ work here: http://stackoverflow.com/questions/3135679/android-httpclient-hostname-in-certificate-didnt-match-example-com-ex/3136980#3136980

[2012-04-04 20:32] technomancy opened #60 "Basic auth params in URL aren't picked up by wrap-request handlers"
Because of the ordering in wrap-request, a URL like `http://user:password@host:port/path` will not have basic auth info extracted out of the URL. In order for this to work, the `->` form in wrap-request must have `wrap-url` after `wrap-user-info`, and `wrap-user-info` after `wrap-basic-info`.

Is this unintentional, or are we supposed to just put :basic-auth keys directly in the request map?

[2012-04-04 22:00] #60 closed, assigned to nobody

[2012-04-10 12:47] dehubbed opened #62 "change commons codec dependency to 1.3 for Android"
Can the project.clj dependency for commons codec be changed to 1.3 instead of 1.5? This won't make a practical difference as the only method out of that library that clj-http uses also exists in 1.3.

However pulling in commons codec 1.5 into any project by virtue of including clj-http can lead to compile-time vs. run-time conflicts on Android as Android contains a built-in version of commons code

[2012-04-13 22:18] #57 closed, assigned to nobody

[2012-04-17 17:43] gfredericks opened #63 "POST retry behavior is not configurable"
I'm testing a server by sending requests to it through clj-http. When doing a multipart post, I get this output

[code]

The fact that my server isn't responding is the issue I'm trying to fix, but the fact that the request is being sent three times muddles the process up. It would be nice if this could be disabled.

[2012-04-18 22:41] #63 closed, assigned to nobody

[2012-04-20 16:28] dubiousdavid opened #65 "AsyncClient"
Does clj-http support AsyncClient?

[2012-04-21 15:45] #65 closed, assigned to nobody

[2012-04-25 17:48] jwr opened #67 "wrap-exceptions does not throw Exceptions (if wrapped in try+)"
I just discovered, much to my surprise, that my code that has a try+/catch block with a (catch Exception e...) at the end does not catch "403" exceptions thrown by wrap-exceptions. It does catch everything else, e.g. other exceptions, just not those thrown by wrap-exceptions.

This is at least unintuitive and I'm not quite sure what is the right way to go, but: I filed an issue with slingshot (htt

[2012-04-30 20:34] kurtharriger opened #71 ":as :json may hide status code errors with parse errors"
There are a lot of apis that will return html instead of json when an error status is returned.  clj-http tries to parse the body before checking status code which often then masks the status code error with a parse exception.  For now, I simply removed :as :json and use the following as a work around:

[code]

[2012-05-02 15:05] #35 closed, assigned to nobody

[2012-05-02 23:05] #71 closed, assigned to nobody

[2012-05-06 13:19] espeed opened #72 "clj-http 0.4.0 isn't sending the JSON form params properly"
I posted the details here...

http://stackoverflow.com/questions/10470643/why-isnt-clojures-clj-http-sending-the-json-form-params-properly

[2012-05-07 05:04] #72 closed, assigned to nobody

[2012-05-07 05:05] dakrone opened #73 "Better :body debugging"
Currently, when passing `{:debug true}` or `{:save-request? true}`, the :body that is returned looks like:

[code]

There should be an easier way to debug the bodies of requests.

[2012-05-09 02:05] #73 closed, assigned to nobody

[2012-05-30 04:05] marcolz opened #75 "ClassCastException clojure.lang.LazySeq cannot be cast to java.lang.CharSequence clojure.core/re-matcher (core.clj:4286)"
[code]

[2012-05-30 16:20] #75 closed, assigned to nobody

[2012-06-18 14:00] ghost opened #81 "clj-http 0.4.3 ignoring cookies headers on redirects"
Hi,

I have been experimenting some difficulties in a scenario where a redirect comes with set-cookie header that is then ignored.

Is this a bug, or not? or am I missing something?

[2012-07-06 13:31] bryndivey opened #82 "Cookie parsing corrupts cookies with '+'s in them"
I'm getting an encoded signature back in a cookie. The actual value received (from tcpdump) is:

[code]

while the value I get in the debug output is:

[code]

Apart from the escaping from printing, you can see that each time there is a '+' character in the original value, I receive a space character.

[2012-07-09 20:25] #82 closed, assigned to nobody

[2012-07-12 14:02] ghost opened #83 "How to send body map as JSON?"
This section doesn't tell you how to send a body map that will be converted to JSON automatically.

https://github.com/dakrone/clj-http#input-coercion

[code]

gives me error:

[code]

I have also tried

[code]

with the same error.

How do I tell the library to convert it to JSON?

[2012-07-12 14:15] #83 closed, assigned to nobody

[2012-07-14 22:07] mjg123 opened #84 "Need a way to set content-type on multipart/form-data parts"
I need a way to set one part of a multipart/form-data POST to have a specific content-type.  But it looks as if the _name_ of the part is used as its type instead.  This line:  https://github.com/dakrone/clj-http/blob/master/src/clj_http/core.clj#L75 and the others like it pass `keytext` to the constructors of the `ContentBody` objects in place of the mime-type.

[2012-07-15 22:02] #59 closed, assigned to nobody

[2012-07-15 22:04] #62 closed, assigned to nobody

[2012-07-16 05:14] #84 closed, assigned to nobody

[2012-07-18 03:20] kakarukeys opened #86 "gzip decoding doesn't work"
I am using [clj-http "0.5.0"]

The output of

(require '[clj-http.client :as client])

(def headers {"User-Agent" "Mozilla/5.0 (Windows NT 6.1; rv:13.0) Gecko/20100101 Firefox/13.0.1"
                        "Accept" "text/xml,application/xml,application/xhtml+xml,text/html;q=0.9,text/plain;q=0.8,text/png,_/_;q=0.5"
                        "Accept-Language" "en-us,en;q=0.5"

[2012-08-06 20:18] #86 closed, assigned to nobody

[2012-08-17 16:16] siyu opened #92 "multipart: need a way to specify filename that is different from the part-name"
Currently for uploading a file, the multipart logic is using :name for both the part-name and the file-name, would it be possible to add the flexibility to define different value for part-name and file-name?

[2012-08-21 17:03] #92 closed, assigned to nobody

[2012-09-03 13:55] ebellani opened #93 "with-connection-pool throws error if the request is made in another agent"
Whenever I send a request message to a different agent in the body of a with-connection-pool macro, I get a "java.lang.IllegalStateException: Connection pool shut down"

Example:

(def tst-agnt (agent nil))

(http/with-connection-pool {:threads 1} (send tst-agnt (fn [_](get))))
#

using [clj-http "0.5.0"] , [org.clojure/clojure "1.4.0"]

Thanks

[2012-09-04 13:03] #93 closed, assigned to nobody

[2012-09-22 16:56] michaelklishin opened #96 "URL encoding of paths"
This is not a bug report, just a thought to start a conversation.

In several of [ClojureWerkz](http://clojurewerkz.org) libraries that use `clj-http` we ended up doing URL encoding of paths. I am curious if this is something that `clj-http` should provide.

Are there any reasons why `clj-http` or Apache HTTP components don't do automatic URL encoding for paths or offer it as an option?

[2012-09-22 17:40] #96 closed, assigned to nobody

[2012-10-05 03:14] aviflax opened #97 "Response :headers is missing Content-Length"
When I make this request via cURL, I see that my server is returning the response header `Content-Length`:

[code]

When I make the same request with clj-http 0.5.5, using Clojure 1.4 and Java 7, `Content-Length` is missing:

[code]

[2012-10-07 10:48] XapaJIaMnu opened #99 "Automatic encoding detection fails on certain urls."
Hey,
Automatic encoding detection for webpages fails on a number of asian pages like this one.

(:require [clj-http.client          :as    http                          ])

(http/get  "http://www.yomiuri.co.jp/" {:as :auto})

The reason is that for some reason clojure downloads the charset line in the source in the following way:
content=\"text/html; charset=Shift_JIS\"
(This is from the output of

[2012-10-10 10:51] #97 closed, assigned to nobody

[2012-10-15 15:43] #99 closed, assigned to nobody

[2012-10-19 23:20] aperiodic opened #100 "Proxy functionality doesn't work with a SOCKS Proxy"
I've got a local SOCKS proxy running on port 9999. When I pass `:proxy-host "127.0.0.1", :proxy-port 9999` in the options map, then an "org.apache.http.NoHttpResponseException: The target server failed to respond" is thrown.

[2012-11-28 10:36] claj opened #102 "generate-query-string doesn't escape all params"
The following renders an error:

(clj-http.core/generate-query-string  {
                            :timestampBegin "2012-11-26 10:00:00 UTC"
                            :timestampEnd "2012­11­27 10:00:00 UTC"})

where the {} is the query-params. It gives the following result:

"timestampBegin=2012-11-26+10%3A00%3A00+UTC&timestampEnd=2012%C2%AD11%C2%AD27+10%3A00%3A00+UTC"

Please note that the da

[2012-11-28 10:38] #102 closed, assigned to nobody

[2012-12-09 18:58] kliron opened #105 "Zero Content-Length in get request gets 400 Bad Request from some servers"
Hi,
client/get sometimes yields a 400 error from some sites. When I try to reproduce this using openConnection on a java.net.URL or the Apache HttpClient directly, this doesn't happen. The only difference I see in the headers sent is the addition of the Content-Length header which is set to 0 in the clj-http request. Not all servers respond with a 400 though. One that consistently does is http://t

[2012-12-10 23:26] #105 closed, assigned to nobody

[2012-12-17 23:11] rasmuskl opened #107 "Extra 'cookie' header is included in request with cookie store"
When using the cookie-store, I get an extra 'cookie' (notice lowercased) header set in my second request.

GET http://aspectoweb.local/ShowQuestion.aspx?rid=d4cf71ec-5224-42da-b2b6-9a92c5aacfd2 HTTP/1.1
Connection: close
accept-encoding: gzip, deflate
**cookie:**
Host: aspectoweb.local
Connection: Keep-Alive
User-Agent: Apache-HttpClient/4.2.2 (java 1.5)
_Cookie: ASP.NET_SessionId=zbf1npc5f4q1c21a

[2012-12-19 16:44] #107 closed, assigned to nobody

[2012-12-27 22:46] rasmuskl opened #108 "POST requests don't follow 302 redirects as GET requests do."
After running into the issue, I created a very basic site with both the GET and POST requests to "/" redirecting to "/About". Here's the results from my REPL:

Is this by design?

GET request:

[code]

POST request:

[code]

[2012-12-28 08:34] #108 closed, assigned to nobody

[2012-12-28 22:36] signalpillar opened #109 "Names of HTTP headers are transformed into lower case"
Hi dear community, I communicate with application running on Microsoft IIS and successful model of communication has difference from opposite only in header names - they are like Camel-Case instead of lower.

My questions whether it is  possible to disable transformation into lower case names of headers for the GET request. Maybe you know about such problem and there is some workaround.

Thank you

[2012-12-29 19:59] #109 closed, assigned to nobody

[2013-01-09 20:33] ghost opened #111 "follow-redirects fails without :url parameter"
See https://github.com/dakrone/clj-http/blob/master/src/clj_http/client.clj#L118

The `follow-redirect` function expects the original request to have a `:url` key in the original request. If the request was constructed with individual components like `:server-name`, `:server-port`, and `:uri` then an attempt to follow a redirect throws MalformedURLException.

[2013-01-15 18:35] #111 closed, assigned to nobody

[2013-01-30 09:42] #100 closed, assigned to nobody

[2013-02-28 23:36] hiredman opened #116 "0.6.4 doesn't seem to send cookies with client/get requests"
I was trying to test a `friend` protected resource, If I send my requests using `client/get` each one requires authentication, which seems to indicate missing cookies. If I change the requests to post requests the first request authenticates and the rest just the cookie.

I have seen the same behavior using both cookie stores and passing :cookies

[2013-02-28 23:49] #116 closed, assigned to nobody

[2013-03-01 21:42] craigbro opened #117 "conn-mgr not shut down if .execute throws an error"
In reqquest.clj, line 240+ if an error occurs we bypass the call to .shutdown the conn-mgr.

In our application I believe this is manifesting as a very large number of sockets in ESTABLISHED (left in keepalive) and also another large set in CLOSE_WAIT state.

Unfortunately at this time my hypothesis as to how the CLOSE_WAIT happens is unformed.

[2013-03-06 16:59] #117 closed, assigned to nobody

[2013-03-06 17:22] dakrone opened #118 "output coercion should be configurable in the event of exceptions (with :throw-exceptions set to false)"
Thinking of adding `{:coercion <setting>}`, where `setting` can be `:always`, `:unexceptional`, or `:exceptional`, and defaults to :unexceptional.

[2013-03-06 22:54] #118 closed, assigned to nobody

[2013-03-31 05:15] DanKaplanSES opened #125 "Is there a way to set the cookie policy?"
I'm trying to crawl this website that gives me this warning when I visit any page of it:

Mar 30, 2013 10:09:43 PM org.apache.http.client.protocol.ResponseProcessCookies processCookies
WARNING: Cookie rejected: "[version: 0][name: bb2_screener_]...

And I've figured out how to solve this issue by using the Java HttpClient.  This code will do it:

[code]

But when I look through the source of the c

[2013-04-04 22:40] dakrone opened #129 "Look into CachingHttpClient"
This would require using a single DefaultHttpClient for multiple requests, which clj-http currently does NOT do.

Implementing this means implementing a way to re-use the HttpClient for multiple requests.

[2013-04-04 22:43] #81 closed, assigned to nobody

[2013-04-05 23:24] jasonab opened #131 "{:throw-exceptions false} still throws an exception"
java.net.SocketException: Connection reset
        at java.net.SocketInputStream.read(SocketInputStream.java:185) ~[na:1.6.0_27]
        at org.apache.http.impl.io.AbstractSessionInputBuffer.fillBuffer(AbstractSessionInputBuffer.java:166) ~[httpcore-4.2.3.jar:4.2.3]
        at org.apache.http.impl.io.SocketInputBuffer.fillBuffer(SocketInputBuffer.java:90) ~[httpcore-4.2.3.jar:4.2.3]
        at org

[2013-04-08 22:15] #131 closed, assigned to nobody

[2013-04-23 15:53] #125 closed, assigned to nobody

[2013-04-25 07:29] sritchie opened #134 "to-cookie squashes persistent cookies"
if a cookie is persistent, this line in `to-cookie` sets discard to `false`: https://github.com/dakrone/clj-http/blob/master/src/clj_http/cookies.clj#L33

Then `compact-map` removes it completely (as the function removes `false` as well as `nil`),

forcing `(or (:discard cookie-content) true)` to always return true here:

https://github.com/dakrone/clj-http/blob/master/src/clj_http/cookies.clj#L50

[2013-04-25 15:20] #134 closed, assigned to nobody

[2013-04-29 13:10] sw1nn opened #136 "Request could be inconsistent after follow-redirect"
This issue is somewhat related to #111,  `:url` vs `:server-name` et. al.

See https://github.com/dakrone/clj-http/blob/b1ae331273bd0b2366261ce59781ed54413c85e4/src/clj_http/client.clj#L147

After a redirect to  the :url attribute, any other url based attributes in the request can become inconsistent (e.g. if the redirect is to a different host, the server-name in the url and the `:server-name` at

[2013-05-02 00:27] bdash opened #137 "Request method not preserved when following 307 redirect with :force-redirects true"
When following a 307 Temporary Redirect received as the result of a POST request, clj-http is changing the request method on the redirect to GET. Per the [HTTP specification](https://tools.ietf.org/html/draft-ietf-httpbis-p2-semantics-22#section-6.4.7), the method should be preserved for 307 responses:

[code]

You can see this by doing the following.

Run `curl -X POST http://example.iana.org/` a

[2013-05-02 14:51] #137 closed, assigned to nobody

[2013-05-16 21:53] kanwei opened #140 "Body doesn't coerce to JSON for POST on exception"
Doing a POST with:

:coerce :always
:as :json
:throw-exceptions false

The response body stays as a string.

[2013-05-18 20:19] #140 closed, assigned to nobody

[2013-06-05 03:26] johnbendi opened #141 "NoSuchMethodError"
[clj-http "0.7.3-SNAPSHOT"]
(require '[cljs-http.client :as client)
(client/get "http://google.com")
;;=>
NoSuchMethodError org.apache.http.conn.routing.RouteTracker.reset()V  org.apache.http.impl.conn.ManagedClientConnectionImpl.shutdown (ManagedClientConnectionImpl.java:135)

[2013-06-21 17:56] tonsky opened #142 "No way to close conn-mgr in case of exception in .execute and :as :stream"
If we get exception here

[code]

(am I correct that it includes socket timeout exceptions and request timeout exceptions?)

and use `:as :stream` option, there's no way to close `conn-mgr` because no `:body` is yet generated and finally block will do nothing because of `:stream`.

Maybe it's a good idea to close inputstream in case of exception regardless of `:stream` option?

[code]

[2013-06-22 15:46] #142 closed, assigned to nobody

[2013-07-02 17:37] #141 closed, assigned to nobody

[2013-07-02 17:38] #136 closed, assigned to nobody

[2013-07-10 15:40] edbond opened #145 "NullPointerException in redirects"
It happens when server returns 3xx and no Location header

[code]

Here is stacktrace:

[code]

Maybe it should return response if raw-redirect nil?

[2013-07-10 16:05] #145 closed, assigned to nobody

[2013-07-18 18:33] dedeibel opened #147 "Pooled Connections are not always closed"
Hello,

I tried to write the following program, to experiment with the pooled connection feature. Unfortunately I spend a lot more time into understanding it, since it did not behave as expected.

The following code hangs forever. My understanding of the feature and it's configuration is: there is a total 4 simultaneous connections allowed due to the default setting and I configured that two paral

[2013-07-22 14:14] sunng87 opened #148 "Stream not closed for {:as :byte-array} in 0.7.4+ ?"
We are using clj-http in our RSS crawler. And this morning when I upgraded 0.7.5 we got lots of `Too many open files` and `UnknowHostException`. From our experience, I think it's caused by some sorts of file op leaks.

And after I downgraded to 0.7.3, which is before the stream refactoring, the system works OK till now.

I remember in 0.6.x of clj-http, if we coerce output as :stream, we have to c

[2013-07-23 17:45] #147 closed, assigned to nobody

[2013-08-01 13:13] joelittlejohn opened #150 "Reusable connection manager is shutdown on failed request"
When a request fails because e.g. the server does not return a response, clj-http shuts down the connection manager. Unfortunately, if the connection manager is reusable then any subsequent attempt to use it will result in this exception:

[code]

This seems to be caused by:

[code]

at https://github.com/dakrone/clj-http/blob/0.7.6/src/clj_http/core.clj#L304

I _think_ there should be a check her

[2013-08-11 02:07] #150 closed, assigned to nobody

[2013-08-13 22:21] leathekd opened #152 "Using :query-params will clobber a query string in the url"
I'm consuming an api that returns urls and due to some authenticating middleware I discovered that the query param that the auth middleware adds will cause the query string of the url to be discarded.

For example, the following will ultimately call the url "http://www.foobar.com?hello=world"

[code]

This is probably pretty uncommon and generally easy to work around, however I thought I'd create

[2013-08-19 15:49] babusri opened #153 "Please add support for proxy authorization"
Please add support for proxy authorization.
Thanks.

[2013-08-22 13:52] joelittlejohn opened #155 "Support for raw/verbatim response headers (avoid the `.toLowerCase`)"
At present clj-http lower-cases all header names as it parses them from the response (`clj-http.core/parse-headers`). I'd like to have the option of taking the header name as it is and not applying the lower-case transformation.

Some of the options I've considered:
1. rebinding the parse-headers function to change it's behaviour - unfortunately it's not a dynamic var
2. redefining the parse-heade

[2013-08-22 18:59] #155 closed, assigned to nobody

[2013-08-25 03:05] jsomedon opened #157 "How to send GET message with range headers?"
Hi all:

I have been looking up clj-http documentation pages & searching on google, but I couldn't find any information on usage of range header with get function -- I'm trying to getting a portion of a file on http server. So I wonder if this functionality is not supported yet?

I am not sure if I am posting on correct place, sorry about any inconvenience if I am asking in a wrong place.

Thanks!

[2013-08-25 04:38] #157 closed, assigned to nobody

[2013-09-05 03:22] soiitaire opened #159 "{:decode-body-headers true} cause an IOException"
I tried the function
(client/get "http://www.yomiuri.co.jp" {:decode-body-headers true :as :auto})
from the README.
But It cause a exception said "IOException Stream closed  java.util.zip.GZIPInputStream.ensureOpen (GZIPInputStream.java:61)" in my nrepl. I have installed the gzip in my mac, and the problem still here. Can anybody help me. Thanks.

[2013-09-10 01:51] mstang opened #160 "Turn off lower-casing Headers"
Is it possible to turn off the automatic lower casing of headers?   One of my co-workers wasn't aware of the case-insensitive requirement and add a Camel Case Header.  And my choices are limited.

Thanks!

Mark

[2013-09-14 04:18] maxcountryman opened #161 "Pass through Cheshire opt-map?"
Specifically, I'd like to set the `:date-format` key when POSTing `:form-params` as JSON.

I don't see an obvious way to propagate these through via `wrap-form-params` which only ever passes one value to `json-encode` and by extension `cheshire.core/encode`.

[2013-09-17 04:43] #159 closed, assigned to nobody

[2013-10-11 11:00] wwentland opened #164 "clj-http should include a copy of the MIT license and specify copyright"
One requirement for licensing code under the MIT license is that "The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software." [0]

I would have submitted a pull request for this, but MIT wants me (or rather you) to specify the copyright of the software too and I wasn't entirely sure what is appropriate here. Thanks for your hard w

[2013-10-11 22:03] #164 closed, assigned to nobody

[2013-10-23 21:54] redinger opened #165 "Redirects don't play nicely with connection pooling"
Following redirects appears to not clean up connections properly with pooling. For instance, in the enclosed code. Calling `(works)` works just fine, printing 200 three times. And it appears to work for any number of calls to www.google.com. However, `(broken)` will print 200 twice, and then hang on the third call - apparently for lack of a connection? Notice, `broken` is attempting to get google.

[2013-10-29 02:21] #161 closed, assigned to nobody

[2013-12-07 23:27] #165 closed, assigned to nobody

[2013-12-07 23:28] #152 closed, assigned to nobody

[2013-12-07 23:29] #129 closed, assigned to nobody

[2013-12-16 12:31] timowest opened #167 "Only accept responses with a certain content type"
What would be the right way to accept only responses with a certain content type? I am using clj-http and I want to exclude all binary formats (pictures etc) to be processed.

I expect using a middleware for this might work, is there already something like this included?

[2013-12-17 22:42] dluksza opened #168 "Client do not encode properly nested vectors with maps"
I need to send list of JS objects to server using post call. Example JSON data looks like:

[code]

here is my http-kit code:

[code]

Then on server side I got:

[code]

http-kit instead of encoding nested vector is just sending the string representation of vector. This is a bug in parameter encoding function in http-kit client.

[2013-12-17 22:43] #168 closed, assigned to nobody

[2013-12-18 13:26] #167 closed, assigned to nobody

[2014-01-02 08:46] MarcoPolo opened #169 "Support SOCKS proxy on a per-request (or connection manager) basis"
It would be cool to support SOCKS proxy on a per connection basis. I don't think any other library can do it yet.

I was able to create a connection manager that used a socks proxy for plain (nonssl) requests.

SSL requests is a lot trickier. It's borderline impossible with the `SSLSocketFactory` class. Doable with the newer `SSLConnectionSocketFactory` (I think).

However to use this we need to m

[2014-01-02 08:47] MarcoPolo opened #170 "Switch to PoolingHttpClientConnectionManager"
In conn-mgr you're using PoolingClientConnectionManager which was deprecated in 4.2.  We should update to PoolingHttpClientConnectionManager to make SOCKS proxy possible. (#169)

[2014-01-03 23:48] #169 closed, assigned to nobody

[2014-01-09 22:04] maxnoel opened #173 "Add {:as :json-strict} option for strict JSON parsing"
The current client/get function parses the body lazily when {:as :json} is set, which returns a lazy seq when the top-level JSON element is an array. Please add an alternative {:as :json-strict} that parses strictly (thus returning vectors for top-level arrays).

[2014-01-10 22:43] dparoulek opened #174 "Custom SSLContext?"
I'm currently using httpclient to connect to sites that require authentication using certificates from a smart card reader. This involves creating a keystore from the card reader and using a custom sslcontext similar to this example: http://hc.apache.org/httpcomponents-client-4.3.x/httpclient/examples/org/apache/http/examples/client/ClientCustomSSL.java

I'd love to use clj-http. I started looking

[2014-01-16 00:32] #173 closed, assigned to nobody

[2014-01-23 15:46] grahamhjones opened #179 "Output coercion"
Hi, I am new to clojure and I have just found your clj-http which seems to be just what I need. If it is my mistake, apologies!

I have used the client/get function with various output coercions. If I add nothing, I seem to get a json format, if I add ":as :json" I get a clojure map and if I add ":as :clojure" I get the following error:

ExceptionInfo EOF while reading string  clojure.core/ex-info

[2014-01-24 15:23] #179 closed, assigned to nobody

[2014-01-24 15:28] timowest opened #180 "decode-body-headers is not reliable"
I noticed that the decode-body-headers feature is not fully reliable.

Using this command I get a correct response

[code]

but with decode-body-headers it is distorted

[code]

I suspect that the body wrapping might be broken https://github.com/dakrone/clj-http/blob/master/src/clj_http/client.clj#L452

Why can't the body parsing be postponed to later stages of the response processing? The slurp u

[2014-02-04 18:48] joegallo opened #183 "trace-redirects is sometimes [nil]"
If you use client/request, and a :uri instead of an :url, then you'll get :trace-redirects back as [nil] rather than an empty vector, because [clj-http.client/wrap-redirects uses url and doesn't check if it's nil](https://github.com/dakrone/clj-http/blob/5134d1b189f9a905e61998b412551b7aba010850/src/clj_http/client.clj#L198).

[2014-02-06 19:13] #180 closed, assigned to nobody

[2014-02-06 19:16] #160 closed, assigned to nobody

[2014-02-09 07:41] #183 closed, assigned to nobody

[2014-02-10 09:58] Lepetere opened #185 "Output http request as text"
Is there any way to output the http request built by clj-http as pure text?
I have the problem that I have to build a rather complicated multipart request and to do it I really need to see the actual text that is put together by clj-http. Otherwise I don't know how to use the parameters I can pass to the :multipart option right.

[2014-02-12 22:30] johnjelinek opened #186 "How should I handle streaming responses?"
I have a response that is chunked encoded that will not close, but stream indefinitely. I need to receive the stream and process it from separate JSON objects (separated by \r\n) in real-time to apply processing as data comes in. What is the appropriate way to handle this scenario?

[2014-02-17 21:56] ghost opened #188 "How to limit the response size?"
Hi, I was wondering if there is a way to limit the size of the http response in bytes?

I'm looking at cli-http.core/coerce-body-entity as the place to add this functionality in my copy, however I just wanted to make sure I'm not missing anything. The goal is to provide a way to limit the size of files we fetch through clj-http, that way we don't have to say download a whole 100mb file just to dis

[2014-02-17 22:13] #188 closed, assigned to nobody

[2014-02-19 02:13] rfn01 opened #189 "multipart with filename and mime-type, but without charset"
I need to PUT an image and some metadata to a web service.  The image part needs a mime-type and filename.  This code:

[code]

Produces these headers inside the part:

[code]

No filename.  The only combination of tags in multipart/make-file-body that passes name on to FileBody also requires charset, but I don't think charset makes any sense for a jpeg.

[code]

Produces:

[code]

Has filename, b

[2014-02-19 10:58] #185 closed, assigned to nobody

[2014-02-19 11:06] Lepetere opened #191 "Multipart Message Boundary String"
Me and multipart requests again...

I need to generate a multipart request with the following header:

[code]

So this means I need to tell the server already in the header which boundary string will be used in the body.

Since clj-http generates boundary strings automatically, is there any way to get this boundary string before the http message is sent, so I can add it to the header?

The other w

[2014-02-20 01:30] #189 closed, assigned to nobody

[2014-03-02 20:10] steckerhalter opened #192 "unable to specify encoding for :form-params"
I have a special case where I need to send the form parameters encoded in ISO-8859-1

[code]

but this is always set to use UTF-8. could it be added as a parameter like `:body-encoding`? is there any other way I can specify the encoding?

[2014-03-11 20:40] nscott opened #193 "(:headers request) is not a clojure.lang.IObj"
I'm not entirely sure if this is truly a problem, but it's definitely something I ran into.
See https://github.com/marick/Midje/issues/266 for all the gory details at the bottom of my comment.

Essentially it looks like potemkin (or clj-http changing something potemkin gives) does not actually implement clojure.lang.IObj. This will make midje consistently fail unless the clj-http.headers/wrap-head

[2014-03-14 12:17] adamzy opened #194 "Import and export cookies"
Hi,
I want to save cookies from cookie-store to files for later use, or pass them to another cookie-store.  I am not familiar with Clojure, but the following code will do.

[code]

Then we can use

[code]

Hope this feature can be added in later releases.

[2014-03-17 21:52] deanmarano opened #195 "Multiple Connection header issue"
When making a request, I passed a few headers including the `connection: Keep-Alive` header. I found that on the other side, it was coming across with `connection: close,Keep-Alive` (in a ring-based Clojure app). I was able to trace it back to here: https://github.com/dakrone/clj-http/blob/master/src/clj_http/core.clj#L265 but I'm unsure what I'm doing wrong or if this is a bug.

I'm making a larg

[2014-03-17 23:45] #195 closed, assigned to nobody

[2014-03-31 15:50] ath opened #196 "Full HTTP response string"
For debugging there is the option `:debug true` which returns a map. This is useful, but even more helpful it would be to see the complete response string, including headers, as if a packet sniffer recorded the whole thing.

[2014-04-07 04:18] #186 closed, assigned to nobody

[2014-04-07 04:21] #67 closed, assigned to nobody

[2014-04-21 20:47] vbauer opened #200 "Update crouton library"
Could you please update crouton library to 0.1.2 (https://github.com/weavejester/crouton)? Maybe it will help with my problem (but not sure).

I have a problem with retrieving big files. It is described here: https://github.com/weavejester/crouton/issues/2

[2014-04-22 05:58] #200 closed, assigned to nobody

[2014-04-28 15:33] rishikulkarni opened #202 "get fails on a nginx server with two certificates, two domains."
1. (:require '[clj-http.client :as client])
2. (client/get "https://oneklikstreet.com/api/v1/?format=json")

SSLException hostname in certificate didn't match: <oneklikstreet.com> != <1click.io> OR <1click.io> OR <www.1click.io >  org.apache.http.conn.ssl.AbstractVerifier.verify (AbstractVerifier.java:231)
1. (client/get "https://1click.io/api/v1/?format=json")
   works.
2. curl works on both the

[2014-05-07 21:39] btbasham opened #203 "How to deal with infinitely long files?"
There is a url which is I suspect is maliciously returning an infinitely long file. On my local machine using client/get on the url works fine, but from ec2 will hang and eventually make my repl hang.

I want to be able to either set a timeout after which the request is cancelled and an exception is thrown, or to set a maximum file size. I thought that (client/with-connection-pool {} (client/get u

[2014-05-07 21:55] #203 closed, assigned to nobody

[2014-05-14 13:27] carlhoerberg opened #204 "Error on load of 0.9.1"
Using 0.9.1 throws the following exception for me on load. 0.9.0 does not.

[code]

[2014-05-14 13:29] carlhoerberg opened #205 "SocketException not thrown"
In 0.9.0 SocketExceptions are only printed to stdout, they're not thrown, can't be caught.

[code]

[2014-05-14 14:02] #204 closed, assigned to nobody

[2014-06-22 08:01] exi opened #208 "raw-headers do not contain cookies"
I am trying to use clj-http as a basis for my http redirector/proxy. For this i need access to the complete original headers without cookie mangling by clj-http. I tried setting :raw-headers true but the set-cookie field gets converted into the string "clojure.lang.LazySeq@e087de4e" which is just a poor string conversion from the supposedly original list of cookies.
It would be great if this could

[2014-06-22 18:49] #208 closed, assigned to nobody

[2014-06-22 18:52] exi opened #209 "Provide a way to get the complete original headers including set-cookie fields"
Hi, i am trying to write a kind of http-proxy that forwards requests to another host.
To do this properly, i need access to the raw set-cookie header fields so i don't have to reencode/recreate them for the response to the proxy client. It would be great to have a way to not dissoc the 'set-cookie' header field in cookies.clj:91 to have access to the real headers.

[2014-07-15 14:12] pestrella opened #210 "allow multiple values in query-params"
Given:

[code]

Expected request:

[code]

Actual request:

[code]

[2014-07-18 17:05] #210 closed, assigned to nobody

[2014-07-31 14:03] shofetim opened #212 "org.apache.http.conn.ssl.SSLContexts Class not found"
I am new to Clojure, so I may just be missing something, using 0.9.2, requiring clj-http.client raises an exception:

[code]

[2014-07-31 16:06] #212 closed, assigned to nobody

[2014-08-07 09:28] r0man opened #214 "Transit support"
Is there interest in transit support for clj-http?

[2014-08-15 14:50] nicolas-ginder opened #216 "SSL requests affect non-ssl requests"
BasicClientConnectionManager registers an https scheme by default which is useless for non https connections. This causes http connections to wait on
org.apache.http.conn.ssl.SSLSocketFactory.getSocketFactory

[2014-08-26 11:31] wilkerlucio opened #219 "progress aware fetching"
Hi,

I'm trying to use clj-http here to make some big HTTP requests, and I was wondering if there is any way to handle the download progress using clj-http.

Thanks.

[2014-09-01 08:45] #219 closed, assigned to nobody

[2014-09-04 04:40] ikbrunel opened #221 "clj-http 1.0.0 dependency breaks multipart uploads in Ring with Kerodon tests"
I think that I've isolated some kind of conflict between Ring and clj-http. Bringing in clj-http as a dependency only completely breaks Ring's multipart upload handling (or maybe it's Kerodon's multipart uploads...I cannot tell).

To reproduce, start by cloning:
`http://www.github.com/survantjames/crazy_clojure_deps`
Then follow the instructions in the readme.

Expected behavior:
- print statement

[2014-09-07 10:13] #221 closed, assigned to nobody

[2014-09-08 18:25] seancorfield opened #222 "Clojure 1.7.0 Alpha 2 compatibility - clj-http.client/update"
New warning when using clj-http with 1.7.0 Alpha 2:

WARNING: update already refers to: #'clojure.core/update in namespace: clj-http.client, being replaced by: #'clj-http.client/update

[2014-09-08 18:55] #222 closed, assigned to nobody

[2014-09-18 08:57] dakrone opened #224 "Support for proxy authentication with domains"
Continuation of #153, with additional support for domains that `slurp` seems to support but clj-http does not.

[2014-09-18 08:58] #153 closed, assigned to nobody

[2014-09-18 09:24] behrica opened #225 "system settings to configure authentication for proxy not working"
Setting the "standard" system settings to pass in proxy username and proxy password doe not work.

So this does not work:

[code]

I get an 407 (access denied) from the proxy. This means the first two settings get used, while the last two do not get used.

The following does work:

[code]

[2014-09-29 08:37] #216 closed, assigned to nobody

[2014-10-03 17:33] tomgeorge opened #226 "net::ERR_INVALID_CHUNKED_ENCODING"
Hi,

I have a cljs/compojure app that uses cljs-http to send GET/POSTs to the compojure backend.  The compojure routes use clj-http to send GET/POSTs to a spring REST web service.  When I try to hit the endpoint via the redirect url, I get:

[code]

in the console.

Has anyone seen an issue like this before?

I think that the response from Spring is coming back chunked (or maybe it's clj-http, in

[2014-10-04 17:09] #226 closed, assigned to nobody

[2014-10-06 18:16] matthewgertner opened #227 "Mechanism to add to current middleware"
Currently the `with-middleware` function requires that you pass in a full list of middleware. I am finding a frequent requirement is to add one new middle function to what is in `*current-middleware*`, which requires the rather ugly:

    (with-middleware (cons my-middleware *current-middleware*) ...)

It would be nice to have something like a `with-additional-middleware` function that takes a lis

[2014-10-13 15:12] #224 closed, assigned to nobody

[2014-10-17 15:51] AlwaysBCoding opened #228 "Would be really helpful to have an example of a PUT request in the documentation"
Can't figure out how to send a PUT request... Should have an example of it in the documentation

[2014-10-18 11:34] #228 closed, assigned to nobody

[2014-10-20 05:18] wilkerlucio opened #230 "unable to set content-length for upload stream"
Hi,

I'm trying to work with the Github Releases Upload API. I'm also using a `CountingStreamInput` to handle progress, so this is my request:

[code]

The upload goes fine, except that github returns `400`, complaining with `Bad Content-Length`.

Even though I had set the `length` on the request, on the debug I see:

[code]

So, it seems it's sending `-1` anyway, when I try to manually set the `C

[2014-10-27 20:03] #230 closed, assigned to nobody

[2014-10-27 21:04] timmc opened #231 "Push tag for 1.0.0?"
I don't see the git tag for v1.0.0.

[2014-10-28 08:52] #231 closed, assigned to nobody

[2014-11-12 23:00] hiredman opened #233 "bad preconditions"
a few places in clj-http have preconditions like https://github.com/dakrone/clj-http/blob/master/src/clj_http/client.clj#L50

which is just wrong, :pre is not a list of functions to check, it is a list of expressions that are evaluated, so that expression is a function value, which is not nil, so it is always true.

[2014-11-12 23:16] #233 closed, assigned to nobody

[2014-12-23 16:05] sc13-bioinf opened #237 "Avoid use of java.io.File to support FileBody using faked files"
As there is no way to create a fake java.io.File, is there any interest in using some of the new file classes which can be virtual?

This would hopefully allow creating a FileBody multi-part without writing to a tmp file.

[2014-12-30 16:10] gfrivolt opened #238 "Getting IllegalStateException for clj-http 1.0.1 on clojure 1.7.0-alpha4"
clj-http is used by elastisch 2.1.0, I get the issue below. When the application starts I get `WARNING: update already refers to: #'clojure.core/update in namespace: clj-http.client, being replaced by: #'clj-http.client/update`, this should have been resolved as I know in version 1.0.1. Why does it show up? Thank you for your help.

[code]

[2014-12-31 12:36] #238 closed, assigned to nobody

[2015-01-14 12:58] WeweTom opened #241 "client/post form-params array"
I use client/post the data below to a PHP script

[code]

but on the PHP side I only got

[code]

what I expect is

[code]

what I'm wrong?

[2015-01-14 13:18] joegallo commented on #241
I believe you're running into an issue with how PHP treats parameters with the same name. [See here for more.](http://stackoverflow.com/questions/4951448/how-to-use-get-to-get-multiple-parameters-using-the-same-name-in-php)

By my read of the above, you'd need to pass your parameter like this:

    :form-params {"foo[]" ["bar" "ffff"]}

for things to work the way you'd want, but that's purely due

[2015-01-14 14:01] WeweTom commented on #241
Yes , you are right , thanks!

[2015-01-14 20:54] dakrone commented on #241
Great, I am going to close this then, thanks @joegallo

[2015-01-14 20:54] #241 closed

[2015-01-17 06:28] atroche opened #243 "Marginalia"
Hey @dakrone, would you be interested if I ran Marginalia over clj-http, and made the resultant HTML a GitHub project page for clj-http?

I'd be happy filling in any missing docstrings, etc. =)

[2015-01-19 03:36] atroche opened #244 "Private functions?"
Hey @dakrone, from reading the source I can't tell which functions are supposed to be internally used and which are supposed to be exposed to the consumer of `clj-http`. How would you feel if I put a PR that converted some fairly clear candidates to being private?

[2015-01-19 05:43] atroche commented on #193
The potemkin PR  merged, btw. Does that mean this issue can be closed?

[2015-01-19 05:49] atroche opened #247 "Deprecated org.apache.http dependencies"
We use a number of [deprecated HttpComponents packages](http://hc.apache.org/httpcomponents-client-ga/httpclient/apidocs/deprecated-list.html), including:
-    `org.apache.http.client.params`
-    `org.apache.http.conn.params`
-    `org.apache.http.cookie.params`
-    `org.apache.http.conn.scheme`

Might be a good idea to use the new APIs?

[2015-01-19 09:16] dakrone commented on #243
@atroche sure, that sounds good to me, do you want to submit it as a PR?

[2015-01-19 09:24] dakrone commented on #244
HI @atroche do you know what functions in particular? A lot of the functions are left intentionally public so that people can rewrite/reuse some of the internals for their own use, but I could see some of them being made private.

Maybe better docstrings would help also, to indicate whether a function is intended to be internal only or not.

[2015-01-19 10:08] dakrone commented on #193
@atroche yep, this has been fixed, thanks!

[2015-01-19 10:08] #193 closed

[2015-01-19 10:13] dakrone commented on #247
I have intended to do this for a while. I started a rewrite of `core.clj` on the `apache-4.3-rewrite` branch, but of course all of the ways to construct clients are different, so it has been taking a while! :)

[2015-01-19 11:02] dakrone commented on #247
If you are interested in helping with the 4.3 API migration, I would be more than happy to give you commit rights :)

[2015-01-21 13:50] hellofunk opened #249 "java.lang.NoSuchFieldError: DEF_CONTENT_CHARSET"
I have a project started several months ago when the version was `[clj-http "0.7.7"]`.  I'm happy to upgrade but first I want to make sure this issue isn't something else. The app has worked fine for several months, just in the last few days I get a stacktrace that starts at the top with this:

[code]

Why would this suddenly start happening, when no server code has changed, none of the code I'm u

[2015-01-21 14:04] dakrone commented on #249
Hmm.. can you send me the output of `lein deps :tree` from your project? Perhaps another dependency is using a different version of apache http

[2015-01-21 14:15] hellofunk commented on #249
Your response was enough for me to get it working. I ran `lein deps :tree` and saw this up top:

[code]

While I did not make any changes to the code base recently, I did recently upgrade to latest version of `cider` for emacs and also added in `refactor-nrepl` in my `.lein/profiles.clj` -- As soon as I removed `refactor-nrepl` the error I reported above went away.

This is disappointing. I like t

[2015-01-22 15:58] ccod opened #250 "using :form-params errors out "ArityException Wrong number of args (2) passed to: util/url-encode""
using version "1.0.1" these calls should reproduce the problem:
(client/get "http://www.google.com" {:query-params {:foo "bar"}})
(client/put "http://www.google.com" {:form-params {:foo "bar"}})

moving down to version "0.9.2" brought me back to a working state.

[2015-01-22 16:08] joegallo commented on #250
Hmmm... both of those calls work fine for me, I'm not seeing that exception. Is it possible you have out of date compiled class files hanging around? If so, perhaps `lein clean` will resolve your issue.

[2015-01-22 18:18] ccod commented on #250
unfortunately lein clean did not help.

On Thu, Jan 22, 2015 at 11:08 AM, Joe Gallo <notifications@github.com>
wrote:

[2015-01-23 15:01] dakrone commented on #250
@ccod can you paste the output of `lein deps :tree` here, perhaps there is another dependency that is interfering with the newer clj-http

[2015-02-02 17:34] looselytyped commented on #250
@ccod - I got the same error and came here to report an issue. Considering @joegallo could not reproduce it got me thinking - maybe it's my `profiles.clj` - Turns out that I had `:dependencies [[leiningen #=(leiningen.core.main/leiningen-version)]]` and `(inject/in [vinyasa.lein :exclude [*project*]]` in my `profiles.clj` - Commenting those out seem to fix the issue.

Unfortunately I am not profic

[2015-02-09 03:15] dakrone commented on #249
Closing this for now, feel free to re-open.

[2015-02-09 03:15] #249 closed

[2015-02-09 03:18] dakrone commented on #237
Closing this since I never heard back, feel free to re-open

[2015-02-09 03:18] #237 closed

[2015-02-09 03:28] #227 closed

[2015-02-09 03:29] dakrone commented on #214
Closing this since Transit support was added in #215

[2015-02-09 03:29] #214 closed

[2015-02-09 03:30] dakrone commented on #148
Closing this since I haven't heard anything in a while, feel free to re-open.

[2015-02-09 03:30] #148 closed

[2015-02-09 04:09] #192 closed

[2015-02-09 09:54] hellofunk commented on #249
Sorry I should have closed this myself. The problem lay with refactor-clj. It was resolved with some recent updates to that tool.

[2015-02-11 15:49] va1en0k commented on #250
I have the same problem with 1.0.1, while using it with `chestnut 0.6.0`. No other dependencies inroduced, other than the chestnuts' plentyful.

The `lein deps :tree` gives lots of warnings stuff, so I put it in a gist:https://gist.github.com/va1en0k/a858b1ef8ca34752f7d2

Would be glad to hear any suggestions.

[2015-02-13 17:38] drakezhard commented on #250
I was having the same problem with 1.0.1 and chestnut 0.6.0, I upgraded leiningen from 2.5.0 to 2.5.1 and lo and behold it went through.

[2015-02-15 07:56] xudifsd opened #251 "is there a way to cancel ongoing request, or something like that? like request timeout"
I want to do request under some timeout, but it seems there're only `socket-timeout` and `conn-timeout`.

What I really want is some request timeout: if haven't got response, then cancel this request. Is there a way to do this?

[2015-02-15 15:49] creese opened #252 "Client Side Certificates"
Do you know if it's possible to make a request using a client side certificate?
https://github.com/request/request#tlsssl-protocol
http://docs.python-requests.org/en/latest/user/advanced/#ssl-cert-verification

[2015-02-28 18:50] xperian commented on #238
I am having this problem on Clojure  1.7.0-alpha5

[2015-03-01 03:23] xperian opened #254 "java.lang.IllegalArgumentException: Can't define method not in interfaces: with_meta, compiling:(clj_http/headers.clj:105:1)"
latest build from source throws an exception.

[code]

http://pastebin.com/1Ld4D8Q7

[2015-03-01 15:22] joegallo commented on #254
I'm not sure what you're seeing exactly, a brand new checkout seems to work just fine for me.

https://gist.github.com/joegallo/8ef50a70ada3bd5781fa

What version on leiningen are you using?

[2015-03-01 15:33] xperian commented on #254
[code]
your Clojure version is 1.6.0 . Could you try again with  org.clojure/clojure "1.7.0-alpha5" ?

[2015-03-01 16:16] joegallo commented on #254
Sure thing. https://gist.github.com/joegallo/8bdf2e4637c2ea37e44f

[2015-03-01 16:31] xperian commented on #254
thanks for showing this.
In my case I had many other dependencies. I dont have much time to dive into this problem atm ,so I rolled back to previous cleaner deps version. clj-http is working , with Clojure 1.7. I will look into this problem later .

[2015-03-01 19:54] joegallo commented on #254
My best guess is that something you're depending on is bringing in an older version of potemkin, probably.

[2015-03-01 21:14] xperian commented on #254
I checked this (I saw one issue from Ztellman). I made sure that Potmkin was the latest,but it did not work. I will check into this later. For now everything good and I have to other important stuff.

[2015-03-02 02:44] dakrone commented on #254
@xperian are you using any custom plugins or deps in `~/.lein/profiles.clj` that might be interfering? Can you post your `~/.lein/profiles.clj`?

[2015-03-02 03:22] dakrone commented on #251
There currently isn't a way to do this, I'm not sure whether the Apache HTTP client exposes anything for this either

[2015-03-02 10:49] xperian commented on #254
I found the reason. I imported leiningen.
[code]

[code]

[2015-03-02 11:06] xperian commented on #254
I configured my project as this one.
https://github.com/zcaudate/vinyasa

I placed clj-http dep at top the top of my project file.

[2015-03-02 15:41] joegallo commented on #251
I suppose you could always slap your http/get into a future and then do the timeout-y version of deref. If you timed out, then you could future-cancel.

[2015-03-04 01:57] xudifsd commented on #251
@joegallo Well, I used core.async timeout to do this, but it doesn't provide cancelation functionality

[2015-03-04 06:47] dakrone commented on #254
@xperian I'm unclear about this, is it still a problem? Was it fixed by not importing leiningen?

When I try using a REPL with the vinyasa project it seems to work okay.

[2015-03-04 08:26] xperian commented on #254
After deleting leiningen ,all is well,so I am closing this. I dont have nor time or enough background to dig deeper for now .  maybe months later, I will be  ready to dig. thanks all.

[2015-03-04 08:26] #254 closed

[2015-03-04 18:09] emidln commented on #254
This is actually a problem with newer versions of potemkin. potemkin.collections.PotemkinMap now requires meta and with-meta to be defined in implementations (as of 0.3.11) although this was unfortunately not documented until after 0.3.11 was released (it's in 0.3.12).

[2015-03-19 17:29] gfredericks opened #256 "transit-clj "0.8.259" spuriously depends on test.check"
The current release of clj-http accidentally includes test.check as a normal dependency via `[transit-clj "0.8.259"]`; this is fixed in [this commit of transit-clj](https://github.com/cognitect/transit-clj/commit/640c35166740642f5c197c78883784acb993d7a1) and I presume also in the latest releases (the latest is `0.8.269` according to the README).

[2015-03-20 04:50] #256 closed

[2015-03-20 04:50] dakrone commented on #256
Thanks for opening this!

[2015-03-31 17:10] hlship opened #257 "EOF exceptions on empty responses w/ :as :clojure [1.1.0]"
I have hit an issue where, when I supply the :as :clojure option, clj-http will _always_ attempt to parse the response, even when blank.

This is not ideal for me, and is generally problematic for any HTTP request that may return a body (to be parsed as JSON or EDN, etc.) or may respond with a status code and empty body.

This has only just come up because of ring-middleware-format:0.5.0, which no

[2015-03-31 17:12] hlship commented on #257
Hm. This code makes it look like it's doing the right thing:

[code]

Let me check to see exactly what's in my response that's causing this kind of problem.

[2015-03-31 17:25] hlship commented on #257
The issue is that even with an empty body, there's still an non-nil :body, a FilterStream.

![clj-http_client_-_fan-suite_-____workspaces_fexco_fan-suite_](https://cloud.githubusercontent.com/assets/52660/6924766/af55ac88-d78f-11e4-988a-af1cf3f9f3e4.png)

so the conversion code is called, even when the FilterStream is empty.

At the very least, a quick check of the content-length header would be a

[2015-03-31 17:27] hlship commented on #257
![filterinputstream_java_-_fan-suite_-____workspaces_fexco_fan-suite_](https://cloud.githubusercontent.com/assets/52660/6924876/81f5bd68-d790-11e4-9e2b-95252ab2d09b.png)

Looks like the lower levels do know that there is no input stream, no real body.

[2015-03-31 17:34] hlship commented on #257
Verified this occurs in 1.1.0.

[2015-03-31 17:34] dakrone commented on #257
Yes, I think this is a byproduct of the switch from a String body to a stream, in the past it the body could be nil as you said, but now it is always a stream (even if an empty one).

I will work on fixing this.

[2015-03-31 17:35] hlship commented on #257
Ok, thanks. I think I can do a workaround by defining a custom coerce-response-body method that eats the EOF exception.

[2015-04-03 02:25] atroche opened #258 "ClassCastException on posting image"
Hi guys,

I'm trying to post an image to an API. I'm getting an exception.

[code]

[code]

The corresponding CURL command runs fine:

[code]

And the file in Clojure is being loaded correctly.

Any idea what's going on here?

[2015-04-03 02:32] atroche commented on #258
And here's the debug information:

[code]

[2015-04-03 02:35] atroche commented on #258
And a more useful stacktrace…

[code]

[2015-04-05 17:21] zsau opened #259 "HTTP 304 (Not Modified) as unexceptional response?"
I'm writing a client that will make a lot of requests with If-Modified-Since headers. It's unfortunate that 304 responses are considered "exceptional" in clj-http, since that forces catching exceptions to handle this normal and expected response.

Would you consider just treating every 2xx and 3xx response as unexceptional?

[2015-04-06 04:50] dakrone commented on #259
I think 304 definitely fits for an unexceptional response, I all add it to the list.

I don't want to make all 3xx responses unexceptional because 305 means "use proxy" and the content can't be accessed without a proxy, I think that should be an exception.

[2015-04-06 04:57] zsau commented on #259
Thanks!

My thinking about 305s and other similar codes was that they're probably so rare that it's not worth carving out exceptions from the 2xx and 3xx ranges, but you probably know better about that than I do.

[2015-04-06 04:57] #259 closed

[2015-04-06 05:12] dakrone commented on #258
I think I know what is going on here, usually when sending the body of a request with something like a `get` clj-http creates a proxy of a subclass of `HttpEntity` which allows the `.setEntity` call. In your case, because there is no body it's a regular `HttpGet` request and can't be cast automatically.

I'll have to figure out how to do this, but thanks for an easy reproduction!

[2015-04-06 05:19] dakrone commented on #258
@atroche hmm.. I just tried to reproduce this locally, it looks like it isn't reproducing for me, instead of the class cast exception I'm getting just a regular 403 (expected since I'm using XXXXXX as the password):

[code]

What version of clj-http are you seeing this with?

[2015-04-17 07:28] kul commented on #238
May be related to this
http://dev.clojure.org/jira/browse/CLJ-1604

[2015-04-30 08:06] lorettahe commented on #251
I'm also looking for a similar functionality. I think HttpUriRequest interface does expose an 'abort' method. Could we perhaps use this?
http://hc.apache.org/httpcomponents-client-ga/httpclient/apidocs/org/apache/http/client/methods/HttpUriRequest.html

[2015-05-06 21:34] shaunlebron commented on #202
same problem with Github API here:

[code]

[2015-05-20 17:13] kindlychung opened #265 "CompilerException java.lang.ClassNotFoundException"
I am getting this error:

    CompilerException java.lang.ClassNotFoundException: clj-http.client, compiling:(/Users/kaiyin/personal_config_bin_files/workspace/typedclj/src/typedclj/async.clj:12:3)

Here is the code:

    (ns typedclj.async
      (:require [clojure.core.async
                 :as a
                 :refer [>! <! >!! <!!
                         go chan buffer

[2015-05-20 17:27] dakrone commented on #265
Just off of the top of my head, it looks like you aren't requiring the `clj-http.client` namespace, hence the `java.lang.ClassNotFoundException: clj-http.client`

[2015-05-21 12:06] kindlychung commented on #265
Yeah, that fixed it. Thanks!
Please close this.

[2015-05-21 13:59] #265 closed

[2015-05-26 22:32] coltnz opened #266 "clj-http.headers/HeaderMap breaks under 1.7"
Long story short it doesn't implement Iterable which is implied by it being a IPersistentMap

user=> (.iterator (headers/header-map :a :b))

AbstractMethodError clj_http.headers.HeaderMap.iterator()Ljava/util/Iterator;  sun.reflect.NativeMethodAccessorImpl.invoke0 (NativeMethodAccessorImpl.java:-2)

This is because of http://dev.clojure.org/jira/browse/CLJ-1602, for more details see Alex's second

[2015-05-27 00:23] joegallo commented on #266
This seems like a bug in potemkin upstream, so I've submitted a PR there. If it gets merged, then I think we're good to go with just a version bump here.

[2015-05-27 16:00] wilb commented on #202
Has there been any further progress on the development of this?

[2015-06-04 08:19] priyatam opened #267 "POST throws NoHttpResponseException / CURL works"
I can post a document to this [server](http://developer.couchbase.com/mobile/develop/references/couchbase-lite/rest-api/document/post---db-/index.html) with curl successfully, like so

    curl -X POST -H 'Content-Type: application/json' -d "{\"json\": \"input\"}" http://id:pwd@localhost:5984/test

The equivalent clj-http api with body or form-params throws the following error

    (client/post "h

[2015-06-04 10:10] priyatam commented on #267
Turns out, I have to use persistent-connections. Sent PR with updated README.

[2015-06-04 10:10] #267 closed

[2015-06-05 11:30] tangrammer opened #269 "Add more than one cookie at the same response only stores last one"
Hi guys,
I realised that doing
[code]
And having 2 cookies in response
[code]

when i retrieve my cookie-store only got last cookie
[code]

Any advices?
Thanks in advance!
Juan

[2015-06-08 10:12] tangrammer commented on #269
Just realising that this behaviour is ok due expires value `:expires #inst "1970-01-01T00:00:00.000-00:00",` and BasicCookieStore.[addCookie](https://hc.apache.org/httpcomponents-client-ga/httpclient/apidocs/index.html?org/apache/http/cookie/Cookie.html) implementation

[2015-06-08 10:12] #269 closed

[2015-06-15 21:03] aredington opened #271 "Request body gets replayed during redirects"
When clj-http client is configured to follow redirects, and posts to a server that responds with a redirect (e.g. an authentication gateway that returns a 303 to an originally requested resource), it preserves all of the entries in the request map that generate a request body, including the :body and :content-type top level keys, and the "content-type" key in the :headers map.

This results in sen

[2015-06-15 21:06] joegallo commented on #271
Am I correct in understanding that this is primarily about the case of a post-redirects-to-get sort of response? That is, you explicitly don't want to replay the request as it originally was (but at a new url), but instead just follow the redirect via a simple get to the indicated url. Right?

[2015-06-16 13:46] aredington commented on #271
@joegallo That's exactly correct. In our particular use case, a POST with a multipart form content body receives a 303 response. The clj-http client follows the redirect in the 303 with a GET request, and provides the same multipart form content body as the content of said GET.

[2015-06-16 13:59] joegallo commented on #271
Okay, in that case it seems like it should be pretty straightforward to dissoc the body in [follow-redirect](https://github.com/dakrone/clj-http/blob/0d1a017caf1479c992bee06228f803bc9de73cd7/src/clj_http/client.clj#L200-L217).

I'm trying to come up with a situation where removing the POST body wouldn't make sense. Perhaps it would be a good idea to only remove the body in the case where the origi

[2015-06-16 14:02] joegallo commented on #271
I'm just thinking that if PRG is ubiquitous enough to get its own [wikipedia page](https://en.wikipedia.org/wiki/Post/Redirect/Get), then it's probably worth supporting more fully. :D

[2015-06-16 14:11] aredington commented on #271
I've already resolved this locally with a quick hack by monkey-patching `clj-http.client/follow-redirect` (https://github.com/dakrone/clj-http/blob/master/src/clj_http/client.clj#L200) to dissoc the values in the request I described opening the issue. This seemed consistent with existing principles of follow-redirect's implementation, as it already will dissoc the :query-params key when following

[2015-07-01 13:48] terjesb commented on #202
I'm also running into this issue, against Nginx utilizing SNI certificates.

[2015-07-02 15:28] lvh commented on #252
Inquiring minds would like to know :)

[2015-07-03 12:20] lbeschastny commented on #204
Had the same issue with `clj-http 1.x`, `lein clean` helped.

[2015-07-06 13:46] sgerrand commented on #202
I've also encountered this issue, setup exactly the same as @terjesb described above. :pouting_cat:

[2015-07-13 16:59] lookfirst commented on #202
I'm a circleci user. circleci uses this lib for their [notification mechanism](https://circleci.com/docs/configuration#notify). I've got a bot sitting on a port behind the free tier cloudflare ssl, which uses SNI. Things are broken for me. :cry: :smile:

[2015-07-19 02:54] dakrone commented on #266
Should be closed by #274, I'll release a new version for 1.7.0 compatibility very soon.

[2015-07-19 02:54] #266 closed

[2015-07-19 04:04] dakrone commented on #266
Released 2.0.0 with a fix for this.

[2015-07-20 13:42] bilus commented on #257
For anyone who may come across this problem, the quick & dirty workaround below may save a few minutes:

[code]

It is specific to :clojure but should be pretty easy to adapt to any format. Not the best example of sound engineering practices but I expect it to work till the problem is fixed.

[2015-07-25 01:50] dakrone commented on #202
Okay, I have progressed with this.

I've branched old master to become the `2.x` branch (for stable releases). I've also bumped master to 3.0.0-SNAPSHOT and merged the work I started rewriting clj-http to use the new apache http interfaces (non deprecated ones).

I just tested this with https://uploads.github.com and it works (where 2.0.0 doesn't) due to the SNI certificate.

The work isn't done o

[2015-07-25 01:52] dakrone commented on #247
I branched master to 2.x and merged changes to the new master that started to address this, still a WIP.

[2015-07-25 02:48] atroche commented on #247
looking great so far!

[2015-07-25 20:33] dakrone commented on #243
Closing with no feedback since January

[2015-07-25 20:33] #243 closed

[2015-07-25 20:34] dakrone commented on #174
@arbelt are you still having this issue? Also, SSLv3 is considered dangerous and should not be used.

[2015-07-25 20:35] dakrone commented on #244
Closing with no feedback since January.

[2015-07-25 20:35] #244 closed

[2015-07-25 20:36] dakrone commented on #250
Closing this, feel free to re-open if you see it again.

[2015-07-25 20:36] #250 closed

[2015-07-25 20:36] dakrone commented on #205
Closing with no feedback in the last year.

[2015-07-25 20:36] #205 closed

[2015-07-25 22:14] dakrone commented on #252
Looks like this is possible from the Apache side (see [this stackoverflow answer](http://stackoverflow.com/questions/21223084/how-to-use-ssl-client-certificate-with-apache-httpclient)), but isn't implemented in clj-http yet.

[2015-07-27 15:12] kimh opened #275 "SSLHandshakeException Received fatal alert: handshake_failure sun.security.ssl.Alerts.getSSLException"
I'm using clj-htp 1.1.0 and got this `handshake_failure` error.

[code]

The site only supports TLS and I'm wondering if this is caused by clj-http not using TLS for some reasons. I understand this must be handled by Apache http client but could it be the case that clj-http doesn't use TLS support?

Please let me know if you need more info. Thank you for your help!

[2015-07-28 22:37] giricme commented on #202
@dakrone I had the same issue with 2.0.0. I built the latest from master and my SSL handshake errors are now gone. Thanks.

[2015-07-29 10:46] lopusz commented on #202
@dakrone Similar with me. For site tested by me branch 2.x throws exception, but master works fine.

Great to see a progress on this issue! Thank you!

[2015-07-29 20:47] dakrone commented on #202
Great! I have cleaned up the branch so all the unit tests pass, though there are still 8 integration tests that fail (because basically it's a rewrite of `core.clj`). Once I get those passing I'll do a release.

[2015-08-01 00:00] martinraison opened #276 "IPv6 support?"
The README indicates that IPv6 is supported, however I'm always getting NoRouteToHostException. I tried with the `client/get` example in the README and tried with multiple IPv6 hosts (including the one in the README). I should note that using curl on the same hosts works without any problem.

[2015-08-02 04:25] dakrone commented on #276
Hi @martinraison, can you post how you are trying to issue the request? And do you have a full stacktrace for the exception you're getting?

[2015-08-02 06:12] martinraison commented on #276
Thanks for your reply. Actually it looks like it is more an issue with my Java setup, since merely trying to instantiate a java.net.Socket with an IPv6 host was failing.

[2015-08-02 06:12] #276 closed

[2015-08-13 20:23] wyegelwel opened #277 ""java.net.SocketException: Broken pipe" when server sends response before request is fully sent"
I'm writing an application in which the server can quickly rule out a request based on it's headers. When this happens the server will send back a 4xx response. If the client is sending a large body in a POST, it will cause a "java.net.ScoketException: Broken pipe" on the client.

The issue appears to be that client expects to fully send it's request before accepting a response.

Here is a simple

[2015-08-13 20:38] dakrone commented on #277
wyegelwel writes:

Do you have the entire stacktrace for this? I'd like to see whether this
is an Apache problem, or something clj-http is doing.

[2015-08-13 20:59] wyegelwel commented on #277
[code]

[2015-08-13 21:01] dakrone commented on #277
Okay, thanks for the reproduction, I'll take a look!

[2015-08-13 21:04] wyegelwel commented on #277
Thank you!

[2015-08-21 16:34] sroller opened #281 "json coercion doesn't work in version 2.0.0"
the following form returns a map with version 1.1.2 but a JSON string in version 2.0.0

[code]

[2015-08-21 16:44] dakrone commented on #281
@sroller 2.0.0 included a breaking change where optional dependencies are now *not* included by default, see: https://github.com/dakrone/clj-http#optional-dependencies

Does your project include the `cheshire` dependency?

[2015-08-21 18:16] sroller commented on #281
Thank you, that was it! I was banging my head against the wall.

[2015-08-21 18:16] #281 closed

[2015-08-25 14:47] jackrusher commented on #202
@dakrone Any chance of a SNAPSHOT build of Clojars in the meantime? I'd rather use clj-http, but without SNI I can't (AWS API Gateway needs it, sadly). Thanks in advance!

[2015-08-25 14:48] jackrusher commented on #275
@kimh There's support for this coming in the 3.0 branch, as mentioned here: https://github.com/dakrone/clj-http/issues/202

[2015-08-26 14:53] clyfe commented on #170
I master c9d1cb104ce9b67e8c4e7e4245c40c38b5eda13c

[code]

[2015-08-26 18:41] dakrone commented on #170
@clyfe Yeah :( master is in flux while I try to iron out all the build failures and transition from deprecated -> non-deprecated, any help is appreciated :)

[2015-08-27 23:46] kimh commented on #275
@jackrusher ok, that sounds good. I can close this issue, but where do I see 3.0 branch?

[2015-08-28 08:27] jackrusher commented on #275
@kimh dunno, I've requested that the author/maintainer make a provisional release to clojars, but haven't heard anything yet.

[2015-08-28 16:04] prayerslayer opened #282 "client/get ignores output coercion with clojure 1.7"
Reproducible by

* `lein new app http-test`
* project.clj: `:dependencies [[org.clojure/clojure "1.7.0"] [clj-http "2.0.0"]]`

`http-core.clj`:

[code]

Output:

[code]

[2015-08-28 16:05] harti2006 commented on #282
:+1:

[2015-08-28 16:24] prayerslayer commented on #282
Whoops, should read the changelog — sorry.

For everyone else: Works as soon as you have `chesire` as dependency.

[2015-08-28 16:24] #282 closed

[2015-08-29 03:48] dakrone commented on #275
@jackrusher @kimh I've pushed 3.0.0-SNAPSHOT to clojars, it definitely still has rough edges though!

[2015-08-29 04:42] kimh commented on #275
I'll close this issue since this is already being discussed in #202

[2015-08-29 04:42] #275 closed

[2015-08-29 06:10] jackrusher commented on #275
Thanks, @dakrone!

[2015-09-08 22:24] jplaza commented on #202
3.0.0-SNAPSHOT working for me too against AWS API Gateway
Thanks! :smile:

[2015-09-30 03:54] jeremyheiler opened #284 "Links in the README table of contents are broken"
I noticed that a handful of links in the README table of contents are broken. I started to go through and manually fix them, but then I realized that some links might be missing entirely. Maybe there's an automatic way of generating the table of contents to prevent it from getting out of date?

[2015-09-30 08:11] dakrone commented on #284
That's correct, I was using https://github.com/snosov1/toc-org to
generate them. I should probably regenerate them.

[2015-10-01 20:56] swam92 commented on #202
@jackrusher I get the same error trying to hit AWS API Gateway.  How did you fix this?

[2015-10-02 08:18] pesterhazy commented on #212
I ran into the same issue today (with datomic pro), and @fgiasson's suggestion fixed the problem for me

[2015-10-02 14:48] jackrusher commented on #202
@swam92 Did you update to 3.0.0-SNAPSHOT?

[2015-10-02 18:31] swam92 commented on #202
@jackrusher Yes, I am running it against AWS API Gateway.  A get works for https://google.com, but not for https://my-api-gateway-domain.com.  Its a handshake failure and the message in the REPL is:
SSLHandshakeException Received fatal alert: handshake_failure  sun.security.ssl.Alerts.getSSLException (Alerts.java:192)

[2015-10-19 18:46] j0ni opened #285 "attempting client/get: java.lang.ClassNotFoundException: potemkin.LazyMapEntry"
The trace is below. `lein classpath` gives me a classpath with only one potemkin in it, at version 0.4.1, so I'm not sure what to do next.

Any ideas?

[code]

[2015-10-19 18:46] j0ni commented on #285
This happens with Clojure 1.7.0 and 1.8.0-beta1, btw.

[2015-10-24 05:10] paraseba commented on #251
How about .setConnectionRequestTimeout in RequestConfig.Builder?

https://hc.apache.org/httpcomponents-client-ga/httpclient/apidocs/org/apache/http/client/config/RequestConfig.Builder.html#setConnectionRequestTimeout(int)

Interested on a patch for this?

[2015-10-25 21:37] dakrone commented on #285
@j0ni can you perform a `lein deps :tree` on your project and paste that here? It sounds like another dependency is conflicting with clj-http.

[2015-10-27 22:32] #284 closed

[2015-10-29 15:13] chihyangscience opened #286 "why still use core_old.clj"
hi there,

I am now using [clj-http "2.0.0"], it works for me locally, but when I package my code into uberjar and deployed to jenkins, looks like it still use the core_old.clj namespace, do not know why:

22:53:58,346 ERROR [SoapUI] An error occurred [CONN_MANAGER_TIMEOUT], see error log for details
java.lang.NoSuchFieldError: CONN_MANAGER_TIMEOUT
	at clj_http.core$add_client_params_BANG_.invoke(

[2015-10-29 15:40] chihyangscience commented on #286
if I unizp the jar, I can see:  core$add_client_params_BANG_.class

this looks like in core-old namespace, I use Leiningen 2.4.3 on Java 1.7.0_67 Java HotSpot(TM) 64-Bit Server VM

[2015-11-05 21:54] disalvjn opened #287 "Integer Multipart Param: "Body may not be null""
Multipart params cannot be numbers:
[code]
In `clj-http.mutipart.create-multipart-entity`, the type of `(:content {:name "number" :content 1})` does not match any predicates in the `cond` clause, so `part` is bound to `nil`, which leads to the opaque error "Body may not be null."

Is there a reason why there isn't an `else` clause where things that aren't strings/streams/files/byte-arrays are stri

[2015-11-09 20:47] dakrone commented on #287
I see this issue, I think the `create-multipart-entity` method should throw an exception on a nil part. Would you like to open a PR for this?

[2015-11-09 20:49] dakrone commented on #286
Hmm.. when I check out the `2.0.0` tag there is no `core_old.clj` file (see: https://github.com/dakrone/clj-http/tree/821e9a034ce7990ac8beebfa31f32ba8e53fea8f/src/clj_http ). Do you have some sort of unclean working tree?

[2015-11-09 22:51] chihyangscience commented on #286
sorry, I am not using the build with master branch.

[2015-11-09 22:51] #286 closed

[2015-11-12 10:55] keorn opened #289 "Conflict with clojure.core/update"
With Clojure 1.7.0: `WARNING: update already refers to: #'clojure.core/update in namespace: clj-http.client, being replaced by: #'clj-http.client/update`

[2015-11-12 13:10] #287 closed

[2015-11-12 20:05] dakrone commented on #289
This should be fixed already (see: https://github.com/dakrone/clj-http/issues/222) what version of clj-http are you using?

[2015-11-12 20:12] keorn commented on #289
Sorry, did not notice it was not coming from my req, but a library that I am using: crawlista. It still uses 1.0, so will need to fix it there.

[2015-11-12 20:12] #289 closed

[2015-11-16 20:29] ghost opened #290 "Provide a way to redact headers in ExceptionInfo"
Some headers should not be written into logs. However, these headers will appear in the exception info thrown by a bad request. Manually redacting them at the site of logging is error-prone (at best, you lose the stack trace by re-constructing `ex-info`; at worst, you miss a place).

A better solution is to provide a binding that identifies redacted headers:

[code]

[2015-11-16 21:08] kgregory-rjmetrics commented on #290
Note that this needs to apply to both request and response headers (request headers may be more important).

[2015-11-17 16:51] dakrone commented on #290
I agree, this is necessary for people that want to hide authentication
headers and the like in exceptions.

[2015-11-24 09:16] joefromct opened #291 "Anyway to specify the same query-params multiple times? (duplicate keys)"
When fetching a response from some web services I believe it's needed to pass the same query param multiple times.

For instance, on a solr facet search as documented [here](https://wiki.apache.org/solr/SimpleFacetParameters#facet.field)

[code]
I'm not sure if there is a good way to do this with `clj-http` as the `query-params` receives a map and therefore cannot have duplicate key names.  Is the

[2015-11-24 10:48] Deraen opened #292 "Same transit-opts passed to transit readers and writers"
Transit `reader` and `writer` require different options.

Reader `:handlers` option is a map of Transit tag to Transit reader.

Writer `:handlers` option is a map of Java Class to Transit writer.

There should be two different options to pass in the transit options, like `:transit-params-opts` and `:transit-response-opts`.

[2015-11-24 13:19] joegallo commented on #291
If I understand your question correctly, I think you're just asking for this:

[code]

That syntax is already built in and supported -- does it solve your problem?

[2015-11-24 13:41] joefromct commented on #291
Yes, that works perfectly thanks.  I must have missed that in the documents/code.  Thanks again, -Joe

[2015-11-24 13:41] #291 closed

[2015-11-29 21:18] kenrestivo commented on #202
Interestingly, a few years have passed and I'm still having this problem with clj-http 2.0.0

client/get to an HTTPS server with two certificates "redmatrix.nl" and "hubzilla.nl"  fails consistently with clj-http.

The problem can be seen with
[code]
The server by default serves up the certificate for hubzilla.nl when it's not given any SNI parameters.

Did SNI support ever land in clj-http? Is th

[2015-12-01 03:12] dskrvk commented on #170
Related to https://github.com/dakrone/clj-http/issues/247.

[2015-12-09 09:48] kamituel commented on #257
I just encountered that issue too. For now, @bilus's workaround seems to be working (thanks).

[2015-12-10 12:55] jvah commented on #202
I'm also a bit puzzled what is the status of this, I need SNI support and would prefer to use clj-http...

[2015-12-10 13:22] jplaza commented on #202
@jvah I'm using 3.0.0-SNAPSHOT and that's working for me now.
@dakrone considering releasing 3.0 as Christmas present? Haha :)

[2015-12-14 11:46] paomian opened #294 "Can I set the query-params-encoding?"
[code]

I can't find the way to set the query-parmas encoding.

[2015-12-15 03:24] dakrone commented on #294
@paomian yes, based on the `:content-type` parameter, it should use that, do you have an example charset I can test to see if it is working?

[2015-12-15 08:14] paomian commented on #294
@dakrone
[code]

[code]
I test it which I set the `:content-type` like this
[code]
but I get the args `a` is

`\u3010\u7b7e\u540d\u3011\u6d4b\u8bd5\u5185\u5bb9` (UTF-8 Encoding)
not
`\u9286\u612e\ue137\u935a\u5d83\ufffd\u621e\u7974\u7487\u66de\u5534\u7039\ufffd` (GBK Encoding)

[2015-12-17 17:50] dakrone commented on #202
@jplaza haha, there's still a lot of things that need to be fixed before 3.0 can be released, so any help is welcome :)

[2015-12-18 01:04] robertkuhar opened #295 "Can request just return the status code rather than throw on status codes other than 200s?"
Today I was surprised to learn "Exceptions are thrown for status codes other than 200-207, 300-303, or 307" in the request function of clj-http-1.1.0.jar clj_http/client.clj

This seems crazy to me as I expect any http client to only, you know, just run the HTTP protocol.  It should be up to my code to determine if a 403 is an exceptional condition or not.

There has got to be a better way to do t

[2015-12-18 01:10] dakrone commented on #295
It's in the [Exceptions](https://github.com/dakrone/clj-http#exceptions) part of the docs...

[code]

[2015-12-18 01:10] #295 closed

[2015-12-20 17:12] gshakhn commented on #285
I'm hitting a similar problem locally. This is my `lein deps :tree` output:

[code]

[2015-12-20 17:14] gshakhn commented on #285
Disregard the above. Doing a `lein clean` solved it.

[2015-12-30 22:04] cloxure opened #296 "client/get connection close time out"
After getting the response the http connection seems to remain open for a while (5 or more seconds). I am not sure if this is an expected behavior.

The only thing that I am doing after I get the response is a simple print:

[code]

[2015-12-30 22:05] cloxure commented on #296
PD: I am using the 2.0.0 version.

[2015-12-30 22:05] cloxure commented on #296
PD: I am using the 2.0.0 version.

[2015-12-30 22:10] dakrone commented on #296
@cloxure are you using a connection manager or anything like that?

[2015-12-30 22:37] cloxure commented on #296
@dakrone I thought that too, but with or without the manager is the same thing.

[2015-12-31 11:45] cloxure commented on #296
@dakrone  no. I am not using a connection manager.

[2015-12-31 13:32] cloxure commented on #296
Here is my stack:
leiningen => 2.5.3
java 1.8.0_66
ubuntu 14.04.3 LTS

[2016-01-05 13:20] cloxure commented on #296
@drakron any ideas?

[2016-01-05 13:46] joegallo commented on #296
Can you provide a reproducible test case? I'm running the following, and it doesn't seem to take 5 seconds.

[code]

[2016-01-05 13:51] cloxure commented on #296
@joegallo  understood, I will bring you a reproducible scenario as soon as possible.

[2016-01-05 13:52] joegallo commented on #296
Thanks! It's possible it could be client side, it's possible it could be server side, it's possible it's in some tricky edge case interaction involving both. Anyway, being able to see it action will absolutely help.

[2016-01-05 14:57] cloxure commented on #296
@joegallo , @dakrone  you can close this issue. I found out the problem was with the server not the client. Thanks a lot.

[2016-01-05 14:59] #296 closed

[2016-01-05 15:33] joegallo commented on #296
No worries, mate. Have a good one.

[2016-01-06 21:56] sgrove commented on #258
I'm seeing the same problem (with both 2.0.0 and 1.0.1) - perhaps there's some other dependency mucking thing up?

[2016-01-06 22:04] dakrone commented on #258
Could be, can you post the output of `lein deps :tree` to confirm?

[2016-01-06 22:05] sgrove commented on #258
[code]

[2016-01-06 22:12] dakrone commented on #258
Hmm... I don't see anything overwriting the apache http* versions (which
I thought could have caused it)

Does my reproduction above return the same 403 if run from your
project's REPL (after `(use 'clj-http.client)`)

[2016-01-06 22:22] sgrove commented on #258
Yup, your code returns a 403, seems like it happens with proper credentials. Modifying core.http a bit to print out the `request-method` being used:

[code]

And running these two snippets, it looks interesting:

[code]

[2016-01-06 22:29] sgrove commented on #258
Alright, so adding `:follow-redirects false` to the options is probably the culprit - I suspect that if we `POST` a multipart request and then get a redirect to a `GET` url, there's some issue. But this is sufficient for me right now.

[2016-01-06 22:31] dakrone commented on #258
Oh hmm... interesting, @atroche do you know if this fixes it for you as
well?

[2016-01-07 00:31] atroche commented on #258
Yep, just checked using @sgrove's code snippet above, and the request with the image fails unless `:follow-redirects` is false. Good luck!

[2016-01-16 02:12] cespare opened #298 "TLS certificate verification is too lenient with wildcards"
If you make an HTTPS request to a server that presents a certificate that's otherwise valid but doesn't match the host, clj-http will not give an exception.

I would expect that this should be an exception unless `:insecure? true` was provided.

I checked three TLS implementations and they all reject such certificates (I've changed the hostname in these examples):

**curl (OpenSSL)**

[code]

**Ch

[2016-01-16 02:25] dakrone commented on #298
@cespare is this on 2.x or master/3.x branch?

[2016-01-16 02:45] cespare commented on #298
I'm using 2.0.0, the latest release on Clojars. However, I just tried git master and it appears to give the same result.

[2016-01-16 04:09] dakrone commented on #298
Hmm... that's very alarming, I'm looking at the code for it and I'm not doing
anything special, just using Apache's default
`SSLSocketFactory/getSocketFactory`.

@cespare can you tell me more about the request? I'm afraid I don't have a valid
certificate that I can grab for an invalid hostname (perhaps I can grab a valid
cert from a website and use it locally to test).

How are you issuing the req

[2016-01-16 04:19] dakrone commented on #298
Also, looking at the implementation of Apache's `AbstractVerifier.verify(...)`, it does compare hostnames for certificates

[2016-01-16 04:27] cespare commented on #298
OK, I've confirmed it does do some checking; the problem is specifically with wildcards.

You can test using some valid HTTPS website; I'll use Google (ip 173.194.121.34). If you just try connecting use a bad name, say example.com:

[code]

clj-http will also throw an exception:

[code]

If you add a two-level subdomain of google.com, curl also won't accept that:

[code]

That's because the Google

[2016-01-16 04:28] cespare commented on #298
I've updated the issue title accordingly.

[2016-01-16 04:36] cespare commented on #298
@dakrone I sort of figured from the beginning that this would be an apache bug, but was dreading whatever jira process I'd have to go through to file a ticket. If you confirm this is on their end I can try to write a Java repro and take it up with them.

[2016-01-16 16:39] dakrone commented on #298
@cespare I have reproduced this with the following program:

[code]

And then running it:

[code]

It looks like we need to do whatever is necessary to turn on the strict hostname
matching in the Apache http client library. I'll look into doing this.

Thanks for bringing this to my attention!

[2016-01-16 16:55] dakrone commented on #298
@cespare I have pushed a commit to the 2.x branch that fixes this for me, can you confirm that this fixes the problem for you? Once you do I will push a new release of clj-http (I will probably also add the option to revert to the old behavior if desired)

[2016-01-16 16:57] dakrone commented on #298
(I also think it is insane that this is not the default in the Apache HTTP library...)

[2016-01-16 19:25] cespare commented on #298
@dakrone confirmed! I presume you'll also apply this patch to master?

Thanks for the quick turnaround!

[2016-01-18 21:03] dakrone commented on #298
@cespare I have pushed a commit to master as well to fix this, and I have released clj-http `2.0.1` and another `3.0.0-SNAPSHOT` with this fixed. Thanks again for bringing this to my attention!

[2016-01-18 21:03] #298 closed

[2016-01-18 21:05] cespare commented on #298
@dakrone Thanks for fixing this so quickly.

[2016-01-20 21:46] anshulshrivastava commented on #212
I ran into the same issue, and by adding `Apache HttpClient` dependency to my project resolved the problem.

[2016-02-01 15:42] maruks opened #299 "AWS Signature Version 4 Signing"
please add AWS Signature Version 4 Signing
http://docs.aws.amazon.com/general/latest/gr/signature-v4-examples.html#signature-v4-examples-java

[2016-02-03 09:46] mdaley commented on #285
Same for me - `lein clean` solved the problem. Does that mean this issue can be closed or is there more to it?

[2016-02-03 23:52] dakrone commented on #285
If `lein clean` solves the issue, this sounds like an issue with leiningen rather than clj-http, so I will close this for now

[2016-02-03 23:52] #285 closed

[2016-02-04 18:14] bhurlow opened #301 "possible to stream over mutual TLS connection?"
I'm working on streaming data from the docker daemon and encountering issues with streaming when paired with a TLS auth'd connection. Stream coercion using `{:as :stream}` is working as expected with a standard `http` daemon, however it stalls completely when accessing the `https` counter part (I'm using a working `:key-store` and `:trust-store` options).

Am I missing something here?

[2016-02-04 23:26] dakrone commented on #299
I'm not sure what you're asking for? Are you asking for documentation? An example file in the `examples` directory?

[2016-02-05 01:14] maruks commented on #299
It would be nice to have AWS authentication for.

I would like to do something like
(client/post "http://aws.gateway" {:aws [key-id secret-key api-key]})
and have http request signed

[2016-02-10 04:14] timvisher opened #304 "Enabling TLSv1.1 and TLSv1.2 on OpenJDK 7?"
Sorry for the support request but I can't for the life of me tell how to do this with this library and I wanted to know if there was a way to do it or if it was simply a missing feature.

The closest related ticket as far as I can tell is #174 but that's not exactly the same idea.

Essentially, JDK 7 disables TLSv1.1 and TLSv1.2 for reasons I don't comprehend. JDK 8 enables them by default, and ma

[2016-02-10 23:03] timvisher commented on #304
I'm unstuck with this at least. I put this code into my project

[code]

and assoc it into the requests I'm making and thus TLSv1.1 and TLSv1.2 are available to the requests.

This definitely seems like it would be a welcome enhancement to the options map of a request rather than having to build an entire connection manager. Either that or making connection managers easier to build.

Do you notice

[2016-02-11 17:01] dakrone opened #305 "Fix ruby-style querystring params to not be the default"
See the comments on https://github.com/dakrone/clj-http/commit/8edc6c4ee696d879b7cfe230481abbd351771593#commitcomment-16018677

[2016-02-12 11:51] timvisher commented on #304
@dakrone ping :)

[2016-02-12 15:13] dakrone commented on #304
@timvisher I do think connection managers should be easier to build, I'd say probably 8 out of the last 10 issues people have requested have been something related to them :)

I think you may want to update your code for the changed I pushed in https://github.com/dakrone/clj-http/commit/b759154c06206f802f5e140cc64e98393c5f4916

[2016-02-12 15:51] timvisher commented on #304
Thanks for the response. :)

I'm not sure I follow what I would need to change related to that commit?

Ah, is it the use of `SSLSocketFactory/STRICT_HOSTNAME_VERIFIER` vs. `BrowserCompatHostnameVerifier`? Could you explain what the difference is?

[2016-02-12 16:06] dakrone commented on #304
Yep, that's it. Basically the default hostname verifier will not verify something like `foo.bar.baz.com` if the wildcard is `*.baz.com`, see https://github.com/dakrone/clj-http/issues/298 for the whole backstory.

[2016-02-12 16:47] timvisher commented on #304
@dakrone Great catch! That's just the sort of feedback I was hoping for. I'm applying that fix internally. :)

[2016-02-19 17:47] sgrove opened #307 "SOCKS5 Authentication Support"
I have a SOCKS5 proxy that requires authentication, and I'm unsure about how to pass that info along via the standard connection manager. I need to specify a proxy per-request, so I can't simply set the system properties. I've looked around in `conn_mgr.clj` but haven't seen anything that jumped out.

[2016-02-19 22:30] dakrone commented on #307
@sgrove you can use the `:proxy-host` and `:proxy-port` settings on your clj-http request to set these per-request.

[2016-03-06 17:20] smaant opened #309 "Misleading url component name"
`wrap-url` middleware parses a given URL and replaces it with components, produced by `parse-url` function. One of the components is `:uri`, which is based on implementation contains URL's path and this is very misleading. According to [RFC 2396](https://www.ietf.org/rfc/rfc2396.txt) and general convention in the industry, URI is a whole identifier, not just the part of it.

Also, I think it's wor

[2016-03-16 10:52] wing328 commented on #252
+1

[2016-03-16 10:56] xhh commented on #252
:+1:

[2016-03-16 14:29] xiexed opened #312 "Support for custom http methods (like PROPFIND)"
Trying to use clj-http as webdav client I faced that it does not support custom http methods, so
[code]

does not work for me:

[code]

Is there a way to workaround this? Or shouldn't support for custom methods be added?

[2016-03-23 20:05] timothypratley opened #315 "Why are the default timeouts -1 forever?"
Shouldn't the default timeouts to something reasonable like 10 seconds?

[2016-03-23 20:13] dakrone commented on #315
I left them at the Apache defaults (unset), do you have a reason why
they should be shorter? (I have no opinion, I just left them at the
default, but I'm open to changing them)

[2016-03-23 21:21] timothypratley commented on #315
Hi Lee,

IMO unbounded operations are a bit of a smell.
Just like waiting for a lock indefinitely is likely to leave my system crippled,
waiting for a response indefinitely will do too.
Here is a great talk on why locks should always have a timeout:
https://www.youtube.com/watch?v=yhguOt863nw
I don't have any links to anyone evaluating socket timeout merits in depth, but my opinion is that the sam

[2016-03-23 21:21] #315 closed

[2016-03-30 20:03] dakrone commented on #312
So, as far as my research shows, there is no support in Apache's HTTP client for the PROPFIND method, so you'd first need to write your own extension of the `HttpGet.java` class, and then you could redefine `clj-http.core/http-request-for` to include support for it.

Not sure how apache will treat it however...

[2016-03-31 05:30] xiexed commented on #312
Finally I've settled down with using raw Apache Client and

[code]

worked fine for me.

I am not sure in my Clojure skills but maybe I will try to fix it and send a pull request

[2016-04-04 03:59] scusack commented on #304
I'm having a similar problem, but I need to connect to a TLSv1.0 server from java 8, I'm getting a protocol_version error as Java 8 doesn't want to support the old version (probably with good reason), however I'm unable to get them to fix it at the server end.

Is there any progress on how to pass this as a client setting?  I've also tried v3 snapshop without success.

[2016-04-04 12:12] timvisher commented on #304
@scusack did java 8 remove the support for the feature entirely or just disable it by default? If it just disables it by default my code snippet above should basically work (with the caveats suggested by @dakrone).

[2016-04-06 03:33] scusack commented on #304
Thanks @timvisher I used a variant of your solution, I was really just after a way to pass configuration parameters to set the protocol rather than digging into java land myself.

I've got two production servers running java7, we have new dev machines that are java8, the release being used is clj-http-1.0.1 (old code but very stable otherwise).  It is hard to google and get a straight answer to th

[2016-04-06 13:14] timvisher commented on #304
@scusack Indeed. I think we'd all like an easier way to do this but for now we've got our workaround. :)

[2016-04-11 00:54] dakrone commented on #304
Hi All, I just released clj-http 3.0.0, this is a huge change am I'm sure there are bugs, but please do give it a try and open issues (or PRs, even better :) )

[2016-04-11 00:54] dakrone commented on #304
Unfortunately clj-http requires JDK8, so I'm not sure if this still applies also?

[2016-04-11 15:04] timvisher commented on #304
@dakrone Awesome! Any chance for a changelog and such any time soon to help decide if we can take on the new version?

[2016-04-11 19:26] #312 closed

[2016-04-12 01:10] scusack commented on #304
I'm pretty sure it still applies as a JDK8 based clj-http (even using the insecure setting) will be unable to connect to older servers that only support TLSv1, however I'm not sure where the fix should be as I'm unsure if the problem really lies in the apache library.

[2016-04-14 19:05] dakrone commented on #304
Actually, I made a mistake with [cheshire](https://github.com/dakrone/cheshire/pull/101) so I have released 3.0.1 that should be plenty compatible with earlier Java versions.

@timvisher I haven't come up with a changelog quite yet, there haven't been any real new features for 3.x, it's mostly a move from the deprecated to the non-deprecated Apache APIs

[2016-04-15 02:36] timvisher commented on #304
@dakrone Ah. I figured since you said it was "a huge change" that more had happened. :)

I understand now.

[2016-04-18 06:09] lianxiangru opened #318 "*cookie-store* in core no longer supported?"
I cannot use it in the lastest version. Is there any other usage that can substitute the `*cookie-store*`?

[2016-04-18 14:12] dakrone commented on #318
@lianxiangru hmm.. looking at the code for it, the support is still there, can you describe the problem you're seeing with it? It may end up being a bug

[2016-04-18 14:24] lianxiangru commented on #318
@dakrone Hi! I have read the code, only the `core_old.clj` file contains `*cookie-store*`. It appears in the definition of this dynamic variable and the `request` function.
Both are deleted in the `core.clj`.

[2016-04-18 14:28] dakrone commented on #318
Ahh okay, it looks like when I added the cookie store - https://github.com/dakrone/clj-http/blob/master/src/clj_http/core.clj#L276-L277 I only added the support for the `:cookie-store` key in the option map and not `*cookie-store*`. I can re-add that in. In the meantime, you can pass the store with `:cookie-store` in your requests

[2016-04-18 14:40] lianxiangru commented on #318
Also, the behavior of cookie store in `core.clj` and `core_old.clj` are different.

In old version ([clj-http "2.1.0"]) I have
[code]
In the new version ([clj-http "RELEASE"]) with the same code I have
[code]
This actually causes some operations like loggging in failure in the new version. Is this a bug in the new version?

[2016-04-18 14:45] dakrone commented on #318
@lianxiangru the actual behavior of the cookie store itself I haven't touched, the only thing that has changed has been an Apache HTTP version upgrade, it sounds like perhaps that might be what's causing this?

[2016-04-18 14:52] lianxiangru commented on #318
@dakrone Probably, let me change it back to `4.5.1` to see whether it works.

[2016-04-18 14:56] lianxiangru commented on #318
@dakrone Still not working.
[code]
It still returns the shorter cookie even with the older `4.5.1` dependency:
[code]

[2016-04-21 04:26] atroche opened #319 "Does 3.0.0 have breaking changes to the API?"
Hi @dakrone, are you using [the convention](http://semver.org/) where a bump in the major version number (e.g. from 2.x to 3.x) means there are breaking changes to the API? If so, what are they? If not, great =)

[2016-05-03 13:04] serioga opened #320 "No output coercion for invalid statuses without exceptions"
The request:
[code]
 If response `:status` is `400` I receive `:body` as raw string instead of JSON.
Expected behavior: output should be coerced if there is no exception.

When status is valid then coercion is correct.

[2016-05-03 13:12] serioga commented on #320
Oops, found the documentation

[2016-05-03 13:12] #320 closed

[2016-05-19 19:23] ahgardner opened #321 "Still looking for help?"
Your Readme asks for help to get 3.0 debugged, but now we are at 3.1.1.  Are the tests all working now?  I got no errors, but two fails, due to "http://aorecuf892983a.com" not found.

[2016-05-19 19:57] dakrone commented on #321
@ahgardner sounds like your DNS might be hijacking things (http://aorecuf892983a.com should fail due to DNS resolution failure unless your ISP is hijacking it).

The tests are working now, but there is a lot of work still to be done, for instance, the connection manager code needs to be simplified, and another pass needs to be done to see if any more deprecated APIs are in use, so any help is appr

[2016-06-14 05:05] zanbee opened #324 "{insecure? true} but still receiving SSLProtocolException - unrecognized_name"
clj-http v3.1.0 is facing this exception while clj-http v2.2.0 is not. Below is my code
`(http/get "https://www.nationwidechildrens.org/Document/Get/82228" {:as :stream
                                     :insecure? true
                                     :throw-exceptions true
                                     })`

Googling around, bring me to http://stackoverflow.com/questions/24720013/apa

[2016-06-14 17:41] jeffaburt commented on #212
Yep, same here. Here is what I added to my project file's dependencies:

[code]

[2016-06-14 19:30] dakrone commented on #292
This was fixed by #311

[2016-06-14 19:30] #292 closed

[2016-06-23 10:57] joelkuiper opened #325 "Invalid 'expires' attribute?"
ResponseProcessCookies:129 - Invalid cookie header: "Set-Cookie: ncbi_sid=73BE402676BBFF01_0927SID; domain=.nih.gov; path=/; expires=Fri, 23 Jun 2017 10:54:40 GMT". Invalid 'expires' attribute: Fri, 23 Jun 2017 10:54:40 GMT

When executing a GET I get this message, is it simply a server misconfiguration or something else going on?

[2016-06-23 14:32] itegebo commented on #196
👍   I was surprised this wasn't already the case, and further surprised that no one has added (or documented) logging support.

[2016-06-27 22:59] dakrone commented on #325
Do you have the full stack trace for this error?

[2016-06-29 13:34] joelkuiper commented on #325
Just shows up as a warning here, no stack trace

`2016-06-29 15:33:31 WARN  ResponseProcessCookies:129 - Invalid cookie header: "Set-Cookie: ncbi_sid=9DFD5C99773CE2B1_0917SID; domain=.nih.gov; path=/; expires=Thu, 29 Jun 2017 13:33:31 GMT". Invalid 'expires' attribute: Thu, 29 Jun 2017 13:33:31 GMT`

[2016-07-03 17:00] dakrone commented on #325
Okay, since this is marked as fixed in 4.5, it *should* be fixed in the latest clj-http which uses a 4.5 version of the client.

What version of clj-http are you using? Does upgrading fix this?

[2016-07-08 08:11] smee commented on #257
The same problem occurs if a server sends an empty body with "content-encoding: gzip". https://github.com/dakrone/clj-http/blob/3da50bf531938f09cdfd27cca11a2b8f1d9fa356/src/clj_http/client.clj#L311 tries to unzip the empty body, which fails. According to https://github.com/rabbitmq/rabbitmq-management/pull/154#issuecomment-196265663 this behaviour looks like a client error.

[2016-07-08 13:06] ray1729 opened #326 "trace-redirects not populated"
Hi, it appears with the move to 3.X that the `:trace-redirects` response field is no longer correctly populated. It turns out that, when you use Apache HTTP client's `DefaultRedirectStrategy` the `wrap-redirects` middleware is redundant. I haven't included a pull request here as I'm not sure how you'd like to proceed. One possibility would be to maintain the existing use of `DefaultRedirectStrateg

[2016-07-17 01:39] yang-wei commented on #325
Same problem here
using 3.1.0 of clj-http

[2016-07-19 19:05] Abhiroop commented on #326
@ray1729 Hi I am looking into this issue. I am looking into this issue. It would be helpful if you could give me an example of a site which redirects so I can reproduce the issue.

[2016-07-19 19:45] ray1729 commented on #326
For me, http://www.google.com/ issues a redirect. For example, with clj-http 2.0.1:

    user=> (:trace-redirects (clj-http.client/get "http://www.google.com"))
    ["http://www.google.com" "http://www.google.co.uk/?gfe_rd=cr&ei=WIKOV-WANtLCaOCfo6gD"]

but with 3.1.0:

    user=> (:trace-redirects (clj-http.client/get "http://www.google.com"))
    ["http://www.google.com"]

[2016-08-15 00:46] abhigogna opened #329 "NTLM authentication is not working. Possibly missing set TargetPreffredAuthSchemes"
When I try to use NTLM-Auth, I get the following error message:
"WARNING: NEGOTIATE authentication error: Invalid name provided (Mechanism level: KrbException: Cannot locate default realm)"

I think it could be because:

1) Kerberos switching to NTLM. Since the Authscope takes 3 args of nil -1 nil [here](https://github.com/dakrone/clj-http/blob/2.x/src/clj_http/core.clj#L251), which probably does

[2016-08-15 14:36] jstewart opened #330 "make-socks-proxied-conn-manager doesn't work"
I tried to use a SOCKS5 connection per the documentation and got a ClassCastException.

Started a SSH proxy locally:

`ssh -N -D 0.0.0.0:1080 localhost`

Then tried using this connection as per the docs:

`(clj-http.client/get "http://www.google.com", {:connection-manager (clj-http.conn-mgr/make-socks-proxied-conn-manager "localhost" 1080)})`

Get the following ClassCastException:

`java.lang.Clas

[2016-08-15 22:22] dakrone commented on #329
Thanks for digging into the issue @abhigogna, do you happen to know how I can test a change locally with NTLM auth?

[2016-08-15 22:23] dakrone commented on #330
I think this is a leftover from the move to non-deprecated APIs, the socks proxy connection manager is still using the deprecated one, so it cannot be cast. I'll check it out

[2016-08-16 00:27] abhigogna commented on #329
To test this locally is painful, unless you have an active directory setup on a windows box. Here is the setup I know of:

1) Setup Microsoft Active Directory. This part is little tedious.
2) Create a small asp.net project that authenticates with AD. This part is simple you just need to select `<authentication mode="Windows">` in web.config file.

If you don't have one available, there is Microsof

[2016-08-17 11:54] abhigogna commented on #329
@dakrone -If you can push your changes to a branch, I can verify it at work.

[2016-08-17 21:28] dakrone commented on #329
@abhigogna that would be great, I'll let you know when I (or someone else) gets a chance to push a change for this!

[2016-08-22 02:00] taeold commented on #330
I believe #328 fixes this.

[2016-08-22 14:48] dakrone commented on #330
@jstewart can you test with the latest master and see if this has already been fixed?

[2016-08-22 19:16] jstewart commented on #330
@dakrone Excellent. Yes, SOCKS proxying works again now with the latest master.

[2016-08-22 19:35] dakrone commented on #330
@jstewart great, I will make a release as soon as I get stable internet

[2016-08-26 20:51] dakrone commented on #330
Released 3.2.0 that has this fixed

[2016-08-26 20:51] #330 closed

[2016-08-27 15:04] abhigogna commented on #329
Dakrone,

Here is the working java code using Apache Client 4.5 lib. This code does not use any deprecated libs. Hope it is useful in modelling clojure wrapper.

[code]

[2016-09-28 05:04] my-zhang commented on #277
hi @wyegelwel . I found it's due to the setting `:max-body` of `httpkit.server` implementation. The default is 8MB.

When you do `(run-server app  {:port 23456 :max-body (* 100 1024 1024)})`, It'd be good.

Best!

[2016-10-02 21:43] ghuo opened #334 "make-socks-proxied-conn-manager broken in 3.3.0"
Trying this example:

[code]

Yields:

[code]

I'll take a look at updating conn-mgr, but I'm not sure I have enough time to dig in now. Any context would be appreciated.

[2016-10-03 16:20] dakrone commented on #334
I think this has to do with the upgrade to the non-deprecated Apache
APIs. There aren't any tests for the socks proxied connection manager,
which is why this wasn't caught until now.

--
;; Lee

[2016-10-05 23:20] JMacLulich opened #335 "Upgraded Clojure to 1.8 and now I see this java.lang.NoClassDefFoundError for HeaderMap"
Hi Guys,

I'm trying to figure out what the has caused this error to appear in my project after bumping up the version of Clojure from 1.7 to 1.8 in my project.

I now get this error whenever I try and require the `clj-http`

`Caused by: java.lang.NoClassDefFoundError: IllegalName: compile__stub.clj_http.headers.clj-http.headers/HeaderMap`

I think its got something to do with interactions with `c

[2016-10-06 00:56] JMacLulich commented on #335
Just to expand on the error above, I get this:

[code]

[2016-10-13 22:07] dakrone commented on #335
Sounds like it might be something that causing bad dependencies? What does `lein dependencies :tree` spit out?

[2016-10-14 00:10] RokLenarcic opened #336 "Sending a :form-param param with vector value always results in indexed style of params"
I'm running version 2.2.0.
I have a problem where I'm required to POST form params such as "a=1&a=2&a=3".

Here's the code:
[code]
Instead of expected default style of `a=1&a=2&a=3`, I get the following:

`a[0]=1&a[1]=2&a[2]=3`

See attached Wireshark capture for the request to google above:

<img width="632" alt="screen shot 2016-10-14 at 02 03 58" src="https://cloud.githubusercontent.com/assets/

[2016-10-14 00:23] dakrone commented on #336
I don't think there is currently a way to change this, we'll need to add something for `:form-params` similar to the `:multi-param-style` added for the query string parameters.

[2016-10-14 09:52] RokLenarcic commented on #336
Is there a way I could manually achieve this?

[2016-10-14 17:28] RokLenarcic commented on #336
But what about this:

`https://github.com/dakrone/clj-http/blob/master/src/clj_http/client.clj#L753`

Doesn't that take multi-param-style as parameter?

[2016-10-14 17:45] RokLenarcic commented on #336
Works with 3.3.0.

[2016-10-14 17:45] #336 closed

[2016-10-16 22:53] dakrone commented on #325
Has anyone had a chance to try this with clj-http 3.3.0?

[2016-10-17 02:14] stardiviner opened #337 "Detected both log4j-over-slf4j.jar AND slf4j-log4j12.jar on the class path"
When I execute:

[code]

[code]

[2016-10-17 03:16] dakrone commented on #337
Can you attach the output for `lein deps :tree` for your project?

[2016-10-17 03:22] stardiviner commented on #337
I use CIDER in Emacs, and start `cider-jack-in` outside of project. And just execute upper require statement.

[2016-10-17 03:30] stardiviner commented on #337
I searched my `.m2` repository:
Found two:
[code]

[2016-10-18 21:25] andrew-potgieter commented on #326
I have found a temporary workaround which is to disable the `DefaultRedirectStrategy` using the `:redirect-strategy :none` option which allows the middleware to kick in.

[code]

However, the `DefaultRedirectStrategy` seems to have also broken the `:max-redirects` functionality as in this example:

[code]

In the above case I know there is a redirect so I should have got the error message.

Using

[2016-10-20 18:50] RokLenarcic commented on #326
I also ran into this using `GET` on `http://klapa.simobil.net/klapa/send.php`, which redirects two times. The contents returned are correct (they are of the redirect), but the `:trace-redirects` is wrong.

[2016-10-20 21:49] andrew-potgieter commented on #326
Thanks to the example from @RokLenarcic I cleared up the case with the `:max-redirects`. It seems that the apache library assumes that a max redirects of 0 does not count. This makes sense since it is the same as disabling the redirects. So using the above example it seems correct:

[code]

[2016-11-02 02:05] stardiviner commented on #337
After I delete `clj-http` and `clj-http-lite` directory under `~/.m2/repository/`. And reinstall again.
Problem is solved. Just a warning when I run:
[code]

Error:
[code]

[2016-11-07 03:21] drewr commented on #325
Confirm it still fails with 3.3.0:
[code]

[2016-11-17 23:54] jaor opened #338 "Cannot compile projects with 3.4.0: ClassNotFoundException: org.eclipse.jetty.util.FutureCallback"
To reproduce, just `lein new` a new project, include a dependency on clj-http 3.4.0, require clj-http.client in any namespace and issue `lein compile :all`.  The following exception is thrown:

[code]

[2016-11-18 00:12] #338 closed

[2016-11-18 00:12] dakrone commented on #338
@jaor thanks for reporting this, found it and I'll release 3.4.1 with this fixed right now.

[2016-11-18 00:14] dakrone commented on #338
Released 3.4.1

[2016-11-18 00:48] jaor commented on #338
thanks a lot, @dakrone. i confirm that 3.4.1 is working like a charm for me.

[2016-11-30 22:32] rymndhng opened #344 "Add an `unparse-url` function"
There's no particular need to actually have functionality, but it would be nice if we could have this function to do the reverse from string -> map and back from map -> string.

[2016-12-02 16:53] cch1 opened #345 "`follow-redirects` + `wrap-cookies` => problem"
When using the default middleware, wrap-redirects happens lower in the middleware and thus the  wrap-cookies middleware never sees cookies set on the redirect response.

[2016-12-02 16:55] cch1 commented on #345
One partial solution is to use custom middleware, but reordering is _challenging_.  For example, one needs to send the `:follow-redirects false` option somehow between the two.

[2016-12-05 21:04] dakrone commented on #344
@rymndhng sure, I don't see a reason why that couldn't be added. Would you like to submit a PR for this?

[2017-01-13 07:58] martinklepsch opened #349 "Turn clj-http.core/get-cookie-policy into multimethod"
We work with some systems that return invalid cookies and thus need to be able to customize the cookie policy. Would you be interested in a PR that changes [`get-cookie-policy`](https://github.com/dakrone/clj-http/blob/3.4.1/src/clj_http/core.clj#L84-L91) into a multimethod so it can be extended by users?

Thanks for your time!

**EDIT** Maybe it's not that simple, will update...

**EDIT2** Ok, as

[2017-01-13 15:53] dakrone commented on #349
Martin Klepsch writes:

Sure, I'd definitely accept that. It looks pretty simple and it's an
easy extension point as you said.

--
;; Lee

[2017-01-13 17:01] dakrone commented on #349
@martinklepsch okay, I'm still game if it can be accomplished and if you'd like to try it :)

[2017-01-19 22:22] 7h3kk1d commented on #321
Should I try putting up a pr changing the readme from the current fix tests help wanted approach?

[2017-01-19 22:36] dakrone commented on #321
@7h3kk1d that'd be great!

[2017-01-25 20:33] avichalp opened #350 "Is it possible to send body in the GET request?"
I am using clj-http to issue queries on elaticsearch through REST API.
I want to issue the following query:
[code]

I could not find any documentation on how to send data with GET request.

[2017-01-25 21:48] dakrone commented on #350
You certainly can, it's just like a `post` request, but `get` instead :)

[code]

[2017-01-25 21:48] #350 closed

[2017-01-25 21:49] avichalp commented on #350
@dakrone Thanks :)

[2017-01-26 00:11] dakrone commented on #345
Does this still occur now that #341 is merged? It changed the way redirects are handled

[2017-01-28 17:55] cch1 commented on #345
I looked at what is required to update my use of clj-http to try this new version... I probably won't be able to test it soon.  Can you outline the changes to redirect following *particularly with respect to cookie management*?  Also, what are the alternatives and best practices for using clj-http with cookies?  I see several mechanisms in the code and I'm not sure which will be supported going fo

[2017-02-01 04:00] sgrove commented on #307
This doesn't seem to work with SOCKS5, unless I'm missing something. I tried the `{:proxy-host "username@password:host" :proxy-port 1080}` format, and it fails (reasonably so). Is there any way to get this to work with a connection-manager?

[2017-02-15 11:22] s4s0l commented on #335
Same for me, using gradle not lein but effect as described above:
[code]

[2017-02-16 16:43] shiftyeyes opened #354 "GET body not being transformed into Map"
I am new to Clojure, so forgive me if this is a dumb question. When running the `lein run` through the terminal, the body of the HTTP response is not being transformed into a Map. Running the same code through the REPL it is being transformed into a Map. I have the cheshire dependency listed in my project.clj. Any ideas on why the body isn't being transformed into Map?

project.clj
[code]

clj-ver

[2017-02-16 22:08] shiftyeyes commented on #354
I ran `lein clean` then ran `lein run` again and it now returns `clojure.lang.PersistentHashMap`. Closing.

[2017-02-16 22:08] #354 closed

[2017-02-27 13:03] bladealslayer commented on #277
+1

[2017-02-27 18:54] dakrone commented on #277
Closing this, it sounds like this is a problem on the server side cutting a transmission short.

[2017-02-27 18:55] dakrone commented on #345
Rather than handling redirects on the client side in clj-http middleware, the redirects are now handled by the Apache HTTP client itself, so I am guessing the cookie management may be better, since I never did anything special with cookies and redirects in the past.

[2017-02-27 18:56] dakrone commented on #337
This sounds like an issue with out-of-date .m2 repository, so I'm going to close this, feel free to re-open if you see it again!

[2017-02-27 18:56] #337 closed

[2017-02-28 08:05] bladealslayer commented on #277
@dakrone this is not a problem with the server. A server may legitimately return error response early. I.e. precisely when enforcing a limit on upload size. The client should monitor what the server is sending and terminate transmission if it receives an error. (This is, btw, also in RFC 2616, section 8.2.2.)

[2017-03-08 01:18] marctrem opened #355 "`ReuseableAsyncConnectionManager` not considered `reusable` v3.4.1"
![screen shot 2017-03-07 at 5 17 10 pm](https://cloud.githubusercontent.com/assets/1619947/23685654/16eec6a2-035a-11e7-8f64-b9b38e6a9c86.png)

Is that the expected behavior?

conn-mgr is of type `clj_http.conn_mgr.proxy$org.apache.http.impl.nio.conn.PoolingNHttpClientConnectionManager$ReuseableAsyncConnectionManager$fff3515b` and it does not pass the `reusable?` test.

[2017-03-08 01:32] marctrem commented on #355
With further invenstigation: the check passes if it is looked as being a member of `PoolingNHttpClientConnectionManager`

[2017-03-08 22:54] dakrone commented on #355
@marctrem is this biting your in an application? I added a test for this, but it doesn't seem to reproduce?

[2017-03-17 18:48] pmonks opened #357 "Reduce (or ideally eliminate) reflection warnings"
`clj-http` has a relatively high number of reflection warnings, compared to other popular libraries I use.  It would be great to reduce, or ideally eliminate, these reflection warnings as they show up when I'm checking for reflection warnings in my own code (e.g. via `lein check`), making it somewhat more difficult to visually parse.

Here are the reflection warnings I'm seeing in `[clj-http "3.4.

[2017-03-18 15:45] dakrone commented on #357
Sure, I'm definitely not opposed to reducing (or removing) reflection

[2017-03-18 17:49] pmonks commented on #357
And if I can find some time I'll try to have a go at tamping this down a bit to, and submit a PR.

[2017-03-24 08:15] bentomi opened #360 "Make IOReactor configurable"
The IOReactor used by the asynchronous connection manager has many [configuration options](https://hc.apache.org/httpcomponents-core-ga/httpcore-nio/apidocs/org/apache/http/impl/nio/reactor/IOReactorConfig.Builder.html) that are currently not accessible. This issue is about providing access to them.

We have to decide how we present these configuration options:
1. flat, together with the existing

[2017-03-24 14:21] dakrone commented on #360
I think it makes sense only to use them with `with-connection-pool` (or pre-creating a connection-manager and passing it with `:connection-manager`). Especially since these are fairly advanced settings I don't expect everyone to be setting.

I *think* I'm in favor of # 2, perhaps as a map in `:io-config`, what do you think?

[2017-03-24 15:13] bentomi commented on #360
I'm in favour of # 2 and `:io-config` sounds basically good, except that the options would have an effect only for async connection pools. So maybe `:async-io-config` would make more sense. Or do you see a way to provide (some of) these options for synchronous connections too?

[2017-03-24 16:00] dakrone commented on #360
let's call them `:io-config` in the event they do end up being applied to non-async connection pools in the future, and we can just ignore them for now on non-async connection managers

[2017-03-25 03:27] rymndhng opened #361 "Re-add old redirect strategy"
Since the redirect-strategy has been pushed into ApacheHttpClient, we've noticed several behavioural changes, i.e. #345 and #326

The code is confusing to understand because the clojure redirect-code doesn't actually get executed (instead we see exceptions when the max redirect is encountered).

It'd be nice if we could have the old behaviour back as an option `:graceful`), which can be described

[2017-03-27 15:40] rymndhng commented on #361
Another related idea would be to allow `:redirect-strategies` to allow users to pass in their own concrete RedirectStrategy if the argument implements `RedirectStrategy`

[2017-03-29 02:30] dakrone commented on #361
@rymndhng It sounds like adding the option to go back to the original behavior is a good compromise, with the custom `RedirectStrategy` being the more advanced option. Are you interested in tackling either of these?

[2017-03-29 02:33] rymndhng commented on #361
@dakrone Yep I'll give it a go!

[2017-03-29 02:39] dakrone commented on #361
Raymond Huang writes:

Awesome! Looking forward to it!

--
;; Lee

[2017-03-29 02:42] dakrone commented on #334
Should be fixed by #353

[2017-03-29 02:42] #334 closed

[2017-03-29 17:41] pmonks commented on #357
With PR #359 merged, I believe this can be closed (assuming parallel development work hasn't introduced new reflection warnings).

[2017-03-29 17:52] dakrone commented on #357
You're right, closing this, thanks again @pmonks!

[2017-03-29 17:52] #357 closed

[2017-04-11 19:22] #321 closed

[2017-04-13 20:30] DanBurton opened #365 "Can't send :form-params with method :delete"
I'm dealing with a legacy server, and I need to send it a `DELETE` request with form params. I know. This is weird and unusual, but I'm not at liberty to modify the legacy server, I just have to deal with it.

It would be nice if clj-http would let me do this. It seems to discard `:form-params`. Here's a minimal test case to illustrate:

https://gist.github.com/DanBurton/93c6abe8c21040ad572664e126

[2017-04-14 02:10] dakrone commented on #365
Resolved by #366

[2017-04-14 02:10] #365 closed

[2017-04-14 02:13] #344 closed

[2017-04-14 02:25] dakrone commented on #365
@DanBurton I will do a release with this fix in very soon, I am waiting to (hopefully) get #362 in before releasing, if it doesn't happen soon I'll do a bugfix release with your fix

[2017-04-14 03:05] DanBurton commented on #365
Awesome, thanks for the quick response!

[2017-04-14 22:56] dakrone commented on #361
Closed by #326 and released in 3.5.0

[2017-04-14 22:56] #361 closed

[2017-04-14 22:56] dakrone commented on #365
This is available in clj-http 3.5.0 now

[2017-04-15 02:12] carld opened #367 "Example caching middleware"
Hi, I'm new to clojure and attempted to implement a TTL based caching middleware for clj-http.

By looking at the included middleware functions in clj-http I came up with the following, which appears to work, but I'd appreciate any feedback, thanks
[code]

[2017-04-18 03:32] carld commented on #367
For what it's worth the above had at least two bugs, 1) in the case of a cache miss the client function was not being called and an exception was being thrown somehow by the redirect middleware, 2) every was being cached, including redirects and error responses. The code below tries to fix those bugs

[code]

[2017-04-18 14:00] dakrone commented on #367
@carld if you're interested, you could submit this as an example in the `examples/` directory (submit it as a PR) and I'd be happy to give it a real review, it's much easier to comment there since I can make line-by-line comments

[2017-04-18 22:13] carld commented on #367
@dakrone  👍  thanks! I have submitted PR #368 and am closing this.

[2017-04-18 22:13] #367 closed

[2017-04-19 20:52] cch1 commented on #345
I've been able to test this now, and the problem remains.  The issue is almost certainly that cookie headers on 3XX responses are never seen by the `wrap-cookies` middleware and thus any cookies set at that point are lost.

Given that the direction seems to be to let the underlying library manage redirects, it should also be used for cookie management.

[2017-04-20 03:38] ljtlrh commented on #212
i am so

[2017-04-23 09:33] serioga opened #371 "Low-level customization of CloseableHttpClient"
I did not find a way to manage keep-alive strategy or connection reuse strategy for underlying `CloseableHttpClient` in version 3.5.0.

It would be great to have access to low-level customization of the client, i.e. via custom handler for client builder.

[2017-04-25 19:51] facundoolano opened #372 "why is :redirect-strategy needed for :follow-redirects?"
Hi, I'm using version "3.5.0" of the library and I need to make a request that does not follow redirects (I expect to get a 302 response and a populated location header). To do so I've tried setting `:follow-redirects false` in the options, but that seems to be ignored unless I set `:redirect-strategy` to either `:none` or `:graceful`. I didn't see the strategy option mentioned in the README, so I

[2017-04-26 13:03] eivindw commented on #325
Also still failing with the 3.5.0 version:

[code]

[2017-04-26 22:26] dakrone commented on #372
Hmm.. that doesn't seem like it should be required as you say. I think this is a bug. I think `:follow-redirects false` should do whatever is necessary to ignore redirects

[2017-04-26 22:35] facundoolano commented on #372
I see. Some code to reproduce the behavior (apparently only `:redirect-strategy :none` makes the option work):

[code]

[2017-04-28 20:04] eivindw commented on #325
Overriding the cookie-policy on the request to "standard" fixed the problem for me - in case anyone else has the same problem:
[code]
As suggested in [this thread on stackoverflow](http://stackoverflow.com/questions/36473478/fixing-httpclient-warning-invalid-expires-attribute-using-fluent-api).

[2017-05-01 14:49] atroche commented on #372
Thanks for posting this, it just tripped me up too.

[2017-05-05 14:40] bentomi commented on #360
@dakrone, please have a look at eb2daaf699e751fa933538a8305ea90848d06d9f, I have some questions releated to it.

1. Does this change really make sense for HTTP?
1. Do all of the options make sense?
1. Should these options be documented? (Do we want to commit to supporting them in the future?)
1. How would you test?

[2017-05-08 20:19] cch1 commented on #345
In order to properly manage cookies for multiple requests (possibly including redirects), I have found the best solution to be a combination of removing the `wrap-cookies` middleware and writing my own that shuttles cookies from an external cookies map into a `CookieStore` object supplied to the request.  The only remaining downside to this approach is that clj-http does not support providing an `

[2017-05-09 01:58] dakrone commented on #360
It seems like some users may want to be able to change these settings, I don't see why they wouldn't make sense.

They make sense for the most part, I haven't really dug into their exact behavior, but the docstring seems clear enough

I think just adding them to the docstring is enough, they're pretty advanced settings so I don't expect they need to be fully documented in the readme.

This is the

[2017-05-09 02:00] dakrone commented on #345
I don't see any reason this shouldn't be an option, would you like to open a PR that allows configuring this per-request?

[2017-05-09 02:04] dakrone commented on #277
Hmm... I'm not sure if there's something that could be done to be better about handling the broken pipe, but we can re-open this to look at trying to handle the exception in a better/clearer way.

[2017-05-09 03:38] cch1 commented on #345
Mechanically, it would not be hard.  But I think that the semantics of providing an HttpClientContext might be challenging when a CookieStore and/or a RedirectStrategegy are supplied.

[2017-05-09 08:38] bentomi commented on #360
OK. Should I fix/add something before I make a pull request?

[2017-05-09 16:32] dakrone commented on #360
You can go ahead and make a PR, then I'll give it a more thorough review!

[2017-05-12 15:30] borkdude commented on #325
Confirmed, `:cookie-policy :standard` solves this.

[2017-05-13 19:59] #360 closed

[2017-05-18 04:40] doomchild opened #376 "Does clj-http correctly handle self-signed certificates?"
I've got a service that I hit in Java using a particular keystore and password.  Using the same keystore and password in clj-http 3.5.0, I'm getting `SunCertPathBuilderException unable to find valid certification path to requested target` errors when doing a GET.  The server is using a self-signed certificate, and I've seen at least one other issue in here talking about problems with those.  Is th

[2017-05-22 21:45] bo-chen commented on #372
This also works:

[code]

[2017-05-24 00:09] dakrone commented on #376
I believe it should handle it with the correct keystore, do you have an example I could retry to reproduce it?

[2017-05-24 00:44] doomchild commented on #376
I don't have one right this second (my current version hits some of our internal stuff), but give me a day or two and I should be able to hack something together.

[2017-05-24 01:22] doomchild commented on #376
Okay, it didn't take me as long as I thought it would.  This is a little messy, but it shows what I'm hitting.

The server is in `server.js`.  The PEM and KEY files were generated as a self-signed cert, and then I made a JKS file out of them as well (PEM and KEY for the node server, JKS for Clojure).

[https_test.zip](https://github.com/dakrone/clj-http/files/1024164/https_test.zip)

If I run the

[2017-05-25 16:33] GEverding opened #379 "No socket timeout exception when :throw-exceptions set to true?"
Seeing this weird behaviour in production where if I set `socket-timeout` and `conn-timeout` and set `throw-exceptions` to `false` I don't see `SocketTimeoutException` but when I set `throw-exceptions` to `true` I see `SocketTimeoutException` in sentry. In the case when I set `throw-exceptions` to `false` I think its not timing out when it should and its just hanging forever. I'm basing this on th

[2017-05-30 06:07] ayoyoness opened #380 "UnsupportedSchemeException http protocol is not supported, thrown when doing requests with client certificates via http proxy"
With a direct connection to the internet, one would simply use a connection manager with the keystore registry scheme (providing `:keystore` and/or `:trust-store`), to successfully make requests with a client and/or server ssl certificates.
However, this would not work if the connection has to go through a http proxy.
With the setup:
``` client (https) <-> proxy (http) <-> server (https)```
the cu

[2017-05-30 22:50] dakrone commented on #380
+1 to do this, good catch @ayoyoness, feel free to open a PR!

[2017-06-01 21:20] aiba commented on #380
FWIW, this is what's preventing me from upgrading from 2.3.0 to 3.6.0.  So in case it's helpful, this worked in 2.3.0.

I didn't open an issue because I thought surely I was the only weirdo using clojure and https client certificates via an http proxy.  Lesson learned.  Thank you so much for figuring this out!

[2017-06-01 22:00] aiba commented on #380
I just verified that adding `(.register "http" (PlainConnectionSocketFactory/getSocketFactory))` after line 147 of `conn_mgr.clj` works.  I'll let @ayoyoness do the honors of this 1-line PR.

[2017-06-04 12:06] ayoyoness commented on #380
done

[2017-06-05 21:16] enragedginger commented on #380
Do we have an estimate on when this will be resolved and merged? I'm also experiencing this issue.

[2017-06-05 21:32] dakrone commented on #380
@enragedginger the PR has been merged and 3.6.2 released with this fix.

[2017-06-05 21:32] dakrone commented on #380
Resolved by #381

[2017-06-05 21:32] #380 closed

[2017-06-05 21:36] enragedginger commented on #380
Thank you!

[2017-06-06 20:56] enragedginger commented on #380
@dakrone It looks like there is a version 3.6.1 available on Clojars, but not a 3.6.2. Which version has the fix?

[2017-06-06 21:02] dakrone commented on #380
@enragedginger whoops! I typoed, I meant 3.6.1 (which has the fix)

[2017-06-06 21:07] enragedginger commented on #380
Cool. Thanks again!

[2017-06-07 21:07] chihyangscience opened #382 "clj-http "3.6.1" not working with TLSv1.1 and TLSv1.2"
I use clj-http "3.6.1" to send https request a server only support > TLS1.1 version, but seems not working, anything I have to set before send requests?
[code]

[2017-06-08 19:37] rymndhng commented on #372
Sorry about that, this trips people up because there's currently two ways of doing redirects. Since the 3.x.x branch, there are two pieces of code that handle redirects:

- the old clj-http middleware (deprecated)
- the new way (by configuring the Java HTTP Client)

So, unfortunately the only way to turn off redirects is to turn off both systems of following redirects:

- disable the clj-http midd

[2017-06-09 03:19] rymndhng commented on #379
It shouldn't, `:throw-exceptions` is meant to transform `unexceptional` HTTP status codes into exceptions. It does not swallow exceptions that are thrown from the underlying Java HTTP Client.

[2017-06-09 03:25] rymndhng commented on #326
Is this issue closable now that that #361 is in?

[2017-06-09 16:31] dakrone commented on #326
I believe so, thanks @rymndhng

[2017-06-09 16:31] #326 closed

[2017-06-13 14:51] elegoff commented on #319
More generally I would find it useful if there was something like a release note which would highlight major features/bug fixes of any given version

[2017-06-13 21:32] dakrone commented on #382
There shouldn't be, is this an internet accessible server so I can try to reproduce this against it?

[2017-06-13 21:35] dakrone commented on #319
2.x -> 3.x did have breaking changes, due to the change from the deprecated to the non-deprecated Apache APIs. I bumped the major version to signify this.

Unfortunately, I have been very bad at documenting breaking changes, features, and other things :(

Currently the only way is to look at the commit log, I will try to be better going forward (I should probably add it to a contribution guide)

[2017-06-13 21:36] dakrone commented on #379
Are you able to reproduce the hanging? If so, can you share what you are using to reproduce it?

[2017-06-23 13:39] neverfox commented on #324
The problem here is that this domain doesn't work with the SNI extension enabled by default since Java 1.7. Turning it off entirely is probably too extreme and can break other sites that use virtual servers. The only solution I know of is to use a low-level trick that retries the request when this error occurs but without SNI. This requires creating an SSLSocket without the hostname as seen [here]

[2017-07-08 22:57] lvh commented on #345
I hit this problem too. However, in the current value of `default-middleware`, there is no wrap-redirects anymore?

[2017-07-08 23:40] lvh commented on #345
@cch1 Is there a specific spot the middleware should go?

[2017-07-13 06:20] shashank090789 opened #386 "NoClassDefFoundError Could not initialize class clj_http.client__init java.lang.Class.forName0 (Class.java:-2)"

[2017-07-13 15:55] harold opened #387 "Cannot specify separate form field name and file name in multipart file upload"
First, thanks for this library, it generally does a great job and we use it to good effect in many places and really like the api and the overall attention to detail in its operation.

If I am reading this correctly:
https://github.com/dakrone/clj-http/blob/72f531f00d099f9676c60e2891c12d412b2a3a53/src/clj_http/multipart.clj#L36

When the `FileBody` object is constructed, its filename is either set

[2017-07-14 02:02] prayagupd opened #388 "clj-http/get on https endpoint does not work with basic-auth"
I am sending a GET request to my https endpoint, but clj-http fails with `SunCertPathBuilderException`

environments
------------------

[code]

Same problem is with `[clj-http "3.5.0"]`, `[clj-http "3.6.0"]` or `[clj-http "3.6.1"]`, so probably my code is wrong.

[code]

Same problem with clj-http [`:basic-auth`](https://github.com/dakrone/clj-http#basic-auth)

[code]

[code]

I think Im properly

[2017-07-14 07:58] prayagupd commented on #388
Apparently java cacerts needed to be updated with cert for above endpoint. Used https://github.com/escline/InstallCert/blob/master/InstallCert.java.

[2017-07-14 07:58] #388 closed

[2017-07-14 08:00] prayagupd commented on #382
Probably similar issue as https://github.com/dakrone/clj-http/issues/388 which potentially can be fixed after installing cert to `$JAVA_HOME/jre/lib/security/` (using https://github.com/escline/InstallCert/blob/master/InstallCert.java).

Make sure connection can be made using `openssl` first.

[2017-07-24 16:38] dakrone commented on #386
Could you provide the full stacktrace? where you are seeing this? What version of clj-http and clojure?

[2017-07-25 21:32] pablobcb opened #389 "is it possible to disable the retry feature?"
im adding `:retry-handle #(do false)` to the options but the retry still happens, is it possible to disable it forever?

[2017-07-26 07:40] danielsz opened #390 "decode-cookies option: working?"
I was hoping that setting `decode-cookies` option to `false` would get rid of the cookie-related warnings in the logs such as this.

[code]

Alas.

I know I can suppress the warning via the logging system, but am I misunderstanding that option?

[2017-08-03 20:42] cch1 commented on #345
That depends on your use case.  Here is what I have done:

[code]

`

[2017-08-13 20:04] ILoveHubGit opened #392 "Requesting information from a HTTPS API"
I've written a small program to retrieve information from an api (https). In development this works fine. Running the Uberjar file on my development PC (Ubuntu 17.04) also works fine.
But if I start the Uberjar file on a Raspberry PI running Openmediavault I get an error "java.security.SignatureException: Signature does not match.".
I checked the certificate for the api and updated the /etc/ssl/ce

[2017-08-14 14:23] enragedginger opened #393 "Build and release version 3.6.2."
Hello, when you get the chance, can you build and release an official 3.6.2 version?

[2017-08-15 21:42] dakrone commented on #393
I've released 3.7.0, thanks!

[2017-08-15 21:42] #393 closed

[2017-08-15 21:43] dakrone commented on #392
It sounds like maybe your JDK may be older? I know the more recent JDKs added support for things like LetsEncrypt certificate authority and some others. Perhaps try upgrading and see if it resolves the issue?

[2017-08-15 21:44] enragedginger commented on #393
Cool. Thank you!

[2017-08-15 23:20] dakrone commented on #387
Looking at the code, you should be able to use `:part-name` for the part name, and `:name` for the filename to be used for the actual `FileBody`, does that work for you?

[2017-08-16 16:27] harold commented on #387
Ah! Neat. I had missed `:part-name`. That definitely gets me going; thank you!

[2017-08-16 16:27] #387 closed

[2017-08-17 12:21] frericksm opened #394 "POST Multipart: Use charset "UTF-8" instead of "ASCII" as default charset to support internationalization"
1. Situation

1.1 Posting mulitpart requests with form parameters containing unicode chars (outside of the ascii range) results in wrong character representations on the server

2. Analysis

2.1 In Namespace clj-http.multipart the function

    create-multipart-entity

uses the default constructor of the class  org.apache.http.entity.mime.HttpStrictMultipart. This results in using "ASCII" as encod

[2017-08-17 20:25] eigenhombre commented on #372
This definitely seems like a bug either in the implementation or the documentation (at least in 3.7.0).  `:follow-redirects` by itself seems to be useless.  Thanks for the `:redirect-strategy :none` tip on this ticket!

[2017-08-19 11:32] frericksm commented on #394
Thanks @dakrone , too.

[2017-08-19 11:32] #394 closed

[2017-09-07 22:36] dakrone commented on #390
The `decode-cookies` option is only for making the cookies into a Clojure map in the response, I'm not sure what the option is to tell the apache client not to decode the cookie itself :( (also, sorry for the delay on this)

[2017-09-07 22:37] dakrone commented on #389
Can you expand on where you're seeing the retry? What is it retrying after? I need to figure out where the retry is coming from in order to stop it.

[2017-09-08 18:38] taylorwood commented on #252
I was able to get a client certificate request to work, and I saw what looks like [client certificate request tests](https://github.com/dakrone/clj-http/blob/a565546284351c18acee9533c8ceb34c43d1750c/test/clj_http/test/conn_mgr_test.clj#L66) in the repo. It looks like the necessary steps are happening [here](https://github.com/dakrone/clj-http/blob/a565546284351c18acee9533c8ceb34c43d1750c/src/clj_h

[2017-09-12 04:48] rymndhng commented on #372
I added a PR to address some of the documentation issues. Would love if folks could read it over to see how it could be improved to onboard folks to the library better :)

[2017-09-12 04:50] rymndhng commented on #319
@dakrone would you be interested in PRs to clean up the README?

I propose removing the section "Towards 3.x" and changing it to "Upgrading from Pre-3.x Versions". I know the redirects docs could be improved here.

[2017-09-12 12:44] facundoolano commented on #372
With that PR the documentation isn't misleading anymore, but I got to say, while I understand the new API opens up flexibility to handle more sophisticated cases, it feels it got less readable and intuitive for the most frequent cases (at least the ones _I_ found frequently).

- I think by default you want to follow redirects.
- Sometimes you'll want to turn them off, and get the 30x status respon

[2017-09-13 04:55] rymndhng commented on #372
@facundoolano Completely agree with your first two points! I liked the old defaults (hence adding a :graceful strategy).

One of the things that made it complicated is that 3.x changed the redirect behaviour and to make it better more compatible to 2.x -- it would mean breaking 3.x again. Kind of a bind :/

Maybe this is something we can look forward to if clj-http goes to the 4.x where we can bre

[2017-09-13 15:43] dakrone commented on #319
I'm *definitely* interested in PRs to clean up the readme!

[2017-09-13 15:44] #372 closed

[2017-09-13 15:46] dakrone commented on #372
@facundoolano I agree with you, it's definitely a tradeoff of the flexibility with more complexity

I'd love for folks to weigh in with what they'd like to see (for 4.x, so assuming you can break options) that retains the power but is a simpler interface for users!

[2017-09-15 01:05] RutledgePaulV commented on #251
This is particularly valuable if you're using the http client for long-lived requests whose need for a result might be aborted mid-request by a user. Right now without a supported way to abort a request and return it to the connection pool that connection is basically out-of-commission since there's still data in the pipe and keep-alive.

I've hit this issue in a web application that proxies PDFs

[2017-09-15 03:21] RutledgePaulV commented on #251
FWIW here's my hack to get around the fact that apache likes to "drain" the entire in-flight response before returning the connection to the pool. When you close the input stream in the clj-http response it normally does a graceful "close" on the input stream provided by apache http (and indeed apache doesn't expose the abort directly), but in this case I'm triggering a hard "abortConnection" by t

[2017-09-15 12:12] ertugrulcetin opened #401 "client/post "https://example.com" javax.net.ssl.SSLHandshakeException"
I'm getting `javax.net.ssl.SSLHandshakeException` when uploading file to one of my web apps, any ideas?

Also, added insecure? true did not work out.

P.S: I'm using **Cloudflare's Free SSL** and I also can't use **client/get** to get homepage as well.

Code is like:
[code]

[code]

[2017-09-15 14:22] #401 closed

[2017-09-15 14:22] ertugrulcetin commented on #401
It turned out Leiningen itself uses old one and I need to override the version

[2017-09-19 14:36] MageMasher commented on #329
Hi there @dakrone , I know this is about a year old but I was wondering if there was any movement or resolution to this issue? I saw there is a pr #198 out there from @ckarlsen84 which implements the NTLM Auth but it has merge conflicts now. Is there anything I can do to help move this change into master? If I fixed the merge conflicts would you accept them?

[2017-09-19 14:39] MageMasher commented on #329
Oh, actually I just saw pr #255 which appears to resolve this. All the google links point to this pr so I just want to leave this note here for anyone who comes along after me. Thanks for having such a great library!

[2017-09-19 15:53] dakrone commented on #329
@MageMasher thanks for checking that this resolves this. I'm going to close this for now and we can reopen if it isn't resolved by #255

[2017-09-19 15:53] #329 closed

[2017-09-19 15:57] MageMasher commented on #329
No problem, I’ll let you know.

[2017-09-22 12:52] fatlazycat opened #402 "Kerberos"
Hi, is kerberos a supported auth mechanism in the library ?

Thanks

[2017-09-25 21:20] technomancy commented on #202
This is fixed now, right?

[2017-09-26 16:12] dakrone commented on #202
This  should be fixed now that SNI is supported in the 3.x versions, I'll close this.

[2017-09-26 16:12] #202 closed

[2017-09-26 16:13] dakrone commented on #402
@fatlazycat I believe it's handled the same as https://github.com/dakrone/clj-http/issues/329

[2017-09-26 16:13] #402 closed

[2017-09-27 14:48] MageMasher commented on #329
@dakrone Can confirm, using

`(client/get url {:ntlm-auth ["<my-user>" "<my-pass>" "<my-host>" "<my-domain>"]})`

successfully authenticates. Thanks for an awesome library!

[2017-10-13 00:38] ejschoen opened #407 "Default synchronous connection pool blocks forever?"
We've been using clj-http version 3.5 for a while, and are very happy with it.  But today, we ran into an issue we haven't seen before.   A specific pattern of requests--I can't figure out yet how to isolate this into a unit test--hangs, in what appears to be a wait for a connection to become available from the `PoolingHttpClientConnectionManager`.

The thread's stack looks like this (with some el

[2017-10-15 11:44] dakrone commented on #407
Interesting, how are you invoking the http call? Are you passing in your own connection manager then?

[2017-10-15 20:19] rymndhng commented on #319
Here's what I've found from skimming so far

Notable Changes:
- CHANGED: re-written middleware using apache http client 4.5
- CHANGED: a2c31f5 Fix retry-handler to be added in correct place
- CHANGED: 983508f POST Mutipart: Use charset "UTF-8" instead of "ASCII" as default charset to support internationalization
- REMOVED :save-request
- ADDED: HttpRequestInterceptor support 155bd23
- ADDED: proto

[2017-10-15 23:25] ejschoen commented on #407
I wasn't using an explicit connection manager, and the workaround works if I simply use a unique connection pool in the context of the call that was hanging. I'm wondering naively if this could be a redirection chain that's just too deep for the default pool.

[2017-10-23 19:31] Eilie opened #409 "NTLM Auth doesn't work"
Hello, ntlm auth doesn't work:

[code]

Curious about why it doesn't work, since code in core.clj is similar to the working version above.

[2017-10-24 22:57] dakrone commented on #409
Okay, do you know if there is a good way I can test NTLM auth? I don't have any services locally that I can stand up to try it and see if it works.

Otherwise, can you try increasing the log level for the apache HTTP client to see if it logs anything? At certain log levels it'll log the entire request, so that would help track down the differences in the two.

[2017-10-26 19:20] dakrone commented on #407
If you disable redirection on the clj-http level does the problem still occur?

[2017-10-26 19:21] dakrone commented on #319
@rymndhng feel free to commit those to `changelog.org`! That would be great!

[2017-10-27 02:35] ejschoen commented on #407
Good question.  I can give that a try.  I can't reproduce the behavior in isolation, but can implement my own redirection following to see if problem recurs when the system is used in normal production.

[2017-10-30 17:41] Spuffynism opened #410 "The body coercion with camel-snake-kebab example does not work"
The example in `cli-http/examples/body_coercion.clj` does not coerce the body (to kebab-case) and leaves it as is (camelCase).

Here's how to replicate the problem:
_body_coercion.clj_
[code]
_project.clj_
[code]
The output is:
[code]
The ouput should be (as shown in `clj-http/examples/body_coercion.clj`):
[code]

[2017-10-30 19:02] Spuffynism commented on #410
Found the problem: I had to include `cheshire` as an optional dependency to use the `:as` parameter as specified at the end of the README's "Output Coercion" section.

[2017-10-30 19:02] #410 closed

[2017-11-04 02:32] alex-k1 commented on #409
Hi,

Looks like it is setting additional header "Connection: close" when constructing a request (connection manager is not reusable). But for ntlm it is supposed to be "Connection: keep-alive". When changing to "keep-alive" it works fine.

[2017-11-06 19:13] alex-k1 commented on #409
It also works fine when using persistent connection (with-connection-pool). In that case "Connection" header is set to "keep-alive".

[2017-11-09 18:47] #319 closed

[2017-11-10 17:09] rymndhng opened #414 "Remove deprecated :follow-redirects options"
The supported way of setting redirects is using `:redirect-strategy`. We should remove the `:follow-redirects` option and the deprecated middleware.

I think this will address the confusion around redirects and all the many options.

Done Criteria:
- [x] Updated README
- [x] Updated Changelog
- [ ] Removed :follow-redirects (boolean) option

[2017-11-10 17:14] dakrone commented on #414
Yep, this can be done now that we have a 4.x branch :)

[2017-11-10 17:16] rymndhng opened #415 "Consider adding probot to maintain the Repository"
I'm throwing it out there. What do folks think about adding https://probot.github.io/apps/ to help manage the community. In particular, I'd be interested in trying out the following features to help maintain the repo:

- Stale: https://probot.github.io/apps/stale/
- Update Docs: https://probot.github.io/apps/update-docs/
- First Timers: https://probot.github.io/apps/first-timers/

[2017-11-10 23:03] ejschoen opened #416 "Bad redirect on asynchronous request calls neither the exception callback or the response callback"
The URL below has a bad redirect.  It redirects to `https:///`.  Synchronously, this throws an exception.  Asynchronously, nothing happens.

[code]

I've got code like this inside a clojure.core.async async pipeline, and the lack of a callback is causing the pipeline to block, 'cause nobody closes the pipeline stage output channel.

I guess I can make the HTTP GET call synchronous, but it really o

[2017-11-15 00:42] rymndhng opened #418 "Re-introducing :save-request? option"
I wonder if there's a conversation captured to capture why this feature was removed and whether it would be ok to have it back?

[2017-11-15 20:14] douglasoviche commented on #325
You guys saved me a lot of wasted time. I've been all afternoon after this answer.
Thanks very much

[2017-11-16 01:01] dakrone commented on #418
I think it'd be worth adding back, I cannot remember why it was originally removed, likely because of the 3.0 upgrade stuff.

[2017-11-16 01:02] #414 closed

[2017-11-16 01:03] dakrone commented on #416
Thanks @ejschoen, what version of clj-http are you using?

[2017-11-16 01:10] ejschoen commented on #416
I ran into it with 3.7.0.  I did a little investigation with 4.0.0-SNAPSHOT.  If I emulate in the repl what `clj-http.core/request` does, and manually configure the Apache async client with minimal configuration settings, then the `FutureCallback` `failed` method does get invoked, and my `raise` function does get called.  However, if I use `clj-http.client/request`, and even minimally configure th

[2017-11-18 23:57] skilbjo commented on #185
@rfn01  thank you! That's a brilliant idea, and helped me debug the request to the API I was working with!

[2017-11-23 14:58] 1v1a3x opened #420 "Need Help on HTTP/POST of binary data."
Hello,

I have an example of CURL I using for healthchek
curl 'https://example.com/makeAction?key=Id' -H 'Connection: keep-alive' --data-binary '[object Object]' --compressed

Could you please coordinate me on how to pass the --data-binary into (client/post) ?

(client/post  "https://api.creatoriq.com/rest/user/100001334/sendInvitation?key=Id"
{
:headers {"Connection" "keep-alive"}
: ???
}
)

Than

[2017-11-24 07:35] rmcv commented on #386
I have similar issue with 3.7.0

 [clj-http "3.7.0"]
   [org.apache.httpcomponents/httpclient "4.5.3" :exclusions [[org.clojure/clojure]]]
   [org.apache.httpcomponents/httpcore "4.4.6" :exclusions [[org.clojure/clojure]]]
   [org.apache.httpcomponents/httpmime "4.5.3" :exclusions [[org.clojure/clojure]]]
   [potemkin "0.4.3" :exclusions [[org.clojure/clojure]]]
     [riddley "0.1.12"]
   [slingsh

[2017-11-25 13:00] dakrone commented on #420
Passing `--data-binary '[object Object]` should be the same as `:body "[object Object]"` in the request

[2017-11-27 14:17] 1v1a3x commented on #420
Thank you a lot Lee.
It really works as you described.

[2017-11-27 14:17] #420 closed

[2017-11-29 02:01] #418 closed

[2017-11-29 02:09] dakrone commented on #415
I'm +0 on it, could go either way, curious if others think it'd be helpful.

[2017-11-29 02:10] dakrone commented on #390
Closing this since I think it's Apache's issue, not clj-http's, feel free to re-open though!

[2017-11-29 02:10] #390 closed

[2017-11-29 02:12] dakrone commented on #409
Strange, this seems... odd. I wouldn't expect auth to completely fail if the connection were closed afterwards. I'm hestitant to add a workaround to add `keep-alive` because technically the connection isn't being kept alive.

[2017-11-29 02:14] dakrone commented on #382
@chihyangscience can you verify that a connection to the server can be made with `openssl` first?

[2017-11-29 02:18] dakrone commented on #301
So, responding to this over a year late (😢), but when it stalls, can you enable logging for the apache http client part and see where it's hanging?

[2017-11-29 02:21] dakrone commented on #309
Yes, I agree this should be changed to reflect what it actually is. We can do this in master (4.x) now since it's a breaking change

[2017-11-29 02:23] dakrone commented on #318
Closing this for now since it's old and the user has deleted their profile, we can re-open if anyone else sees it.

[2017-11-29 02:23] #318 closed

[2017-11-29 02:25] dakrone commented on #304
@timvisher it's been a really long time since I've revisited this, is this still applicable?

[2017-11-29 02:25] dakrone commented on #307
I believe this is fixed in #375

[2017-11-29 02:25] #307 closed

[2017-11-29 14:31] bhurlow commented on #301
@dakrone https://github.com/ztellman/aleph turned out to be a better match specifically for the streaming stuff. It I open up this task again I will notify thanks!

[2017-11-29 18:58] timvisher commented on #304
I have no reason to believe it isn't (for 2.x) but we haven't upgraded to 3.x. I'm not sure if I'll be able come up with a test case sometime soon but I'll try to.

[2017-12-31 21:20] jrbrodie77 opened #423 "'show-functions' name collision aws.s3 and aws.s3transfer"
I'm trying to follow the readme using Cursive.  When I use

`(ns my.core
    (:use [amazonica.aws.s3]
             [amazonica.aws.s3transfer]))`

I get a collision between 'show-functions' functions and an error in the REPL, using Cursive/Lein.

I'm a clojure newb, but if anyone is willing to explain why this isn't or is a problem, let me know!  I did manage to make it work by replacing the :use b

[2018-01-03 05:23] rymndhng commented on #423
Hey there. This looks like an issue that isn't related to clj-http per se.

In general, it's preferrable to use a require syntax instead, so that the imported functions are prefixed. This way you avoid the collision. For example:

[code]

[2018-01-03 05:23] rymndhng commented on #415
Let's leave it as it is. Keeps things simple :)

[2018-01-03 05:23] #415 closed

[2018-01-03 05:25] rymndhng commented on #386
@rmcv do you have more information about the Java & Clojure version used as well?

[2018-01-03 16:09] jrbrodie77 commented on #423
Sorry, I posted this on the wrong project!  I was using both in my project.  I'll move it over.  The amazonica docs have an example using 'use', your suggestion does work, but I wanted to point out an error in the docs.

[2018-01-03 16:09] #423 closed

[2018-01-26 10:34] mantree commented on #22
This recently started irritating me when running some integration tests from the repl. To take back control I ended up with the following:

Using Timbre, adding the following deps to get the http client log into timbre:
                 [com.fzakaria/slf4j-timbre "0.3.7"]
                 [org.slf4j/log4j-over-slf4j "1.7.25"]

Then setting the level in the test namespace:

(timbre/set-level! :warn

[2018-01-30 22:09] quoll opened #425 "Socks Proxied Connection Managers seem broken"
The modification for make-socks-proxied-conn-manager seems to have broken with commit:

[conn_mgr.clj on June 21, 2017](https://github.com/dakrone/clj-http/commit/edcd9662aeba7689aed9d134c3c84f3a309ae985#diff-284210b34a647bd6d8b1f45c2e79036a)

Previously, this function only accepted `hostname` and `port` arguments. It is now multi-arity, with the second arity accepting an `opts` argument. However,

[2018-02-04 16:06] kachayev opened #427 "Unexpected nested query params handling when specifying content-type"
The client handles nester query params properly only in the case when `content-type` is either not given or set to `:x-www-form-urlencoded`. Which is unexpected as `content-type` is intended to be used to determine the content of the body of the request, not the query string in the URL ([here](https://tools.ietf.org/html/rfc2616#section-14.17) and [here](https://tools.ietf.org/html/rfc2616#section

[2018-02-05 03:20] dakrone commented on #427
Hmm... I'm thinking that introducing `:query-string-encoding` might be the best option. I think it'd be beneficial to be able to encode them differently, and it can default to whatever `:content-type` is set to. I'll add this

[2018-02-05 03:24] dakrone commented on #427
Hmm actually maybe not, still looking into the best way to do this.

[2018-02-05 04:06] dakrone commented on #427
@kachayev okay, I've pushed a small fix and test for this to master here: a6e7d66259fbf519c69fca5bea090da0d21610cd can you take a look and let me know what you think? If you like it I'll backport to the 3.x branch.

[2018-02-05 04:17] dakrone commented on #425
I believe this was resolved in #426, so I'm closing this, let me know if this does not fix it

[2018-02-05 04:17] #425 closed

[2018-02-05 06:05] kachayev commented on #427
Hmmm. Not really what a user might expect still.

Let's say I have the request with the following set of params:

[code]

As we use `:x-www-form-urlencoded` as a default content type, this should be equivalent to

[code]

And I expect it to produce the request in form of

[code]

Assume we set `:content-type` explicitly now to `:json`:

[code]

What I expect is the following:

[code]

Note that `:

[2018-02-07 04:23] dakrone commented on #427
Okay, I reverted the commits that I had on master to take another look at this.

[2018-02-07 04:40] dakrone commented on #427
@kachayev okay, I thought of a different way to handle this that hopefully works better, can you check out this branch: https://github.com/dakrone/clj-http/compare/nested-param-fix and let me know what you think? (I added documentation so hopefully it's clear enough to follow what was added/changed)

[2018-02-07 09:34] kachayev commented on #427
@dakrone 👍 That works! Fine-grained control is always a good thing. I'm not sure if it's okay to let the user passing contradictory params. Let's say

[code]

The result might lead to confusion. It's kinda clear enough from the documentation, but maybe it makes sense to throw `IllegalArgumentException` here, explaining to the user that request options given are somewhat ambiguous?

[2018-02-10 00:52] zsau commented on #390
This is indeed possible via [HttpClientBuilder.disableCookieManagement](https://hc.apache.org/httpcomponents-client-ga/httpclient/apidocs/org/apache/http/impl/client/HttpClientBuilder.html#disableCookieManagement()). But I believe that would need to be injected into `core/http-client`, which doesn't seem possible for a caller to do currently.

Ideally there'd be a way to arbitrarily customize the

[2018-02-10 04:13] quoll opened #430 "Body is lost if response middleware encounters an error"
If an exception occurs while a coercion function is processing a response, then any code that attempts to catch the exception is unable to see the body, since this has been drained out of the InputStream and into a byte array, which then goes out of scope.

Every coercion function starts by getting the body via util/force-byte-array. Based on this, I'm wondering if it would be acceptable to update

[2018-02-12 06:40] grinderrz opened #431 "Async + multipart"
Combination of async + multipart results in exception:
Multipart form entity does not implement #getContent()

[2018-02-12 06:44] grinderrz commented on #431
There is test in PR, which can be used to reproduce this bug.

[2018-02-13 02:35] dakrone commented on #430
@quoll I think what I mentioned in #429 would be the best path forward, let me know what your thoughts are

[2018-02-13 02:37] dakrone commented on #427
@kachayev that's a good idea, I'll throw an exception if they are both specified.

[2018-02-13 02:48] #427 closed

[2018-02-13 02:51] dakrone commented on #427
@kachayev I've merged #433 which fixes this to 3.x and 4.x, this should be available in the next release, thanks for bringing it up!

[2018-02-13 02:55] dakrone commented on #390
@zsau actually that gives me an idea for a way to do that, I'll experiment with it.

[2018-02-13 06:26] kachayev commented on #427
@dakrone Great, thanks!

[2018-02-14 02:53] #431 closed

[2018-02-18 20:30] RokLenarcic commented on #376
Did you try adding self-signed cert to your JVM's truststore?

[2018-02-21 03:04] dakrone commented on #416
@ejschoen I finally figured out what is causing this, and I'm mulling over the best way to fix it. Basically in order to throw an exception we need to do extra checking that the URI is actually valid in the RedirectStrategy.

Before I commit to a fix, do you use a particular redirect strategy right now? (or do you just use the default)

[2018-02-21 03:06] ejschoen commented on #416
Default.  Thanks for persevering!

Eric

[2018-02-21 03:47] #416 closed

[2018-02-21 03:50] dakrone commented on #416
@ejschoen whew! this should finally be fixed now, and will be released in the next 3.x/4.x release, thanks for your patience!

[2018-02-21 03:56] dakrone commented on #376
I'll look into adding documentation for how to get this set up and working.

[2018-02-21 03:58] dakrone opened #436 "Experiment with Apache HTTP 5.0 upgrade"
The new Apache 5.0 client is out now for alpha/beta, I should experiment with upgrading (on 4.x branch only) since it supports things like HTTP 2.0

[2018-02-21 04:37] #376 closed

[2018-02-21 04:38] dakrone commented on #376
@doomchild I pushed a new file (<https://github.com/dakrone/clj-http/blob/master/SSL.org>) where I document how to do this, let me know if it doesn't work for you!

[2018-02-21 04:38] doomchild commented on #376
Excellent.  Thanks a lot!

[2018-02-27 03:05] dakrone commented on #371
@serioga I have added this in https://github.com/dakrone/clj-http/pull/434 let me know if that isn't enough customization for you!

[2018-02-27 03:05] #371 closed

[2018-02-27 03:08] dakrone commented on #305
I believe this is no longer a problem.

[2018-02-27 03:08] #305 closed

[2018-02-27 03:29] dakrone commented on #324
I looked into this, it turns out that the error we both receive is due to a misconfigured HTTP server, see

- https://issues.apache.org/jira/browse/HTTPCLIENT-1522
- https://stackoverflow.com/questions/7615645/ssl-handshake-alert-unrecognized-name-error-since-upgrade-to-java-1-7-0

The solution for this is to extend `DefaultHttpClientConnectionOperator` with a version that disables SNI when the se

[2018-02-27 03:34] dakrone commented on #345
clj-http does provide the ability to specify your own `HttpClientContext` now, with the `:http-client-context` option, so I'm going to close this for now. Let me know if we should re-open it.

[2018-02-27 03:34] #345 closed

[2018-02-27 03:53] #349 closed

[2018-02-27 03:56] dakrone commented on #349
@martinklepsch I've pushed the change to make this a multi-method. Let me know if that works for you. I know you mentioned the cookie spec provider, if you still need this can you open a separate issue for it and I'll work on it?

[2018-02-27 03:58] dakrone commented on #355
Closing as there has been no feedback, feel free to comment if this was closed erroneously.

[2018-02-27 03:58] #355 closed

[2018-02-27 03:59] dakrone commented on #379
Closing as there has been no feedback, feel free to comment if this was closed erroneously.

[2018-02-27 03:59] #379 closed

[2018-02-27 03:59] dakrone commented on #382
Closing as there has been no feedback, feel free to comment if this was closed erroneously.

[2018-02-27 03:59] #382 closed

[2018-02-27 03:59] dakrone commented on #386
Closing as there has been no feedback, feel free to comment if this was closed erroneously.

[2018-02-27 03:59] #386 closed

[2018-02-27 03:59] dakrone commented on #389
Closing as there has been no feedback, feel free to comment if this was closed erroneously.

[2018-02-27 03:59] #389 closed

[2018-02-27 03:59] dakrone commented on #392
Closing as there has been no feedback, feel free to comment if this was closed erroneously.

[2018-02-27 03:59] #392 closed

[2018-02-27 04:00] dakrone commented on #407
@ejschoen have you had a chance to try this again?

[2018-02-27 04:01] dakrone commented on #325
I think I'm going to close this since there's a workaround for it (setting `:cookie-policy :standard`). Let me know if anyone disagrees and I'll re-open.

[2018-02-27 04:01] #325 closed

[2018-02-27 04:19] dakrone commented on #294
@paomian I believe this is not an issue, I tried to reproduce this with the following:

- Made an inspector at https://requestb.in
- `clj-http.client> (-> (get "https://requestb.in/1j0vmvt1" {:query-params {:a "【签名】测试内容"} :content-type "text/html; charset=GBK"}) :body)`
- Checked the encoded query-string at the request bin site, it said: `GET /1j0vmvt1?a=%A1%BE%C7%A9%C3%FB%A1%BF%B2%E2%CA%D4%C4%DA%

[2018-02-27 04:23] dakrone commented on #271
I think this issue is no longer relevant, clj-http has vastly different redirect handling now in the later versions. Since this is a couple of years old, I'm going to close this. If this is still a problem let me know and I'll be more than happy to re-open it.

[2018-02-27 04:23] #271 closed

[2018-02-27 04:24] dakrone commented on #170
This has been complete for a while now, so closing this.

[2018-02-27 04:24] #170 closed

[2018-02-27 15:03] ejschoen commented on #407
Apologies.  I haven't had time to try implementing my own redirection here.  I did pull the latest 3.8.0-SNAPSHOT this morning, and am testing in a development branch (primarily to confirm that [#416](https://github.com/dakrone/clj-http/issues/416) is fixed), without the explicit connection pool workaround I described above.

Do you think any work you have done between 3.7.0 and now would have add

[2018-02-27 23:37] dakrone commented on #407
That is possible but I can't say for sure. I did have another question, can you share the code you're invoking clj-http with? (or a reasonable replica). Also, how are you consuming the body of the response?

[2018-02-28 05:48] #294 closed

[2018-02-28 06:56] #257 closed

[2018-02-28 06:57] dakrone commented on #257
I finally pushed a commit for this, thanks for your patience!

[2018-02-28 07:02] dakrone commented on #247
I believe this can be closed now with 3.x and master branches.

[2018-02-28 07:02] #247 closed

[2018-02-28 07:03] dakrone commented on #209
Closing as there has been no feedback, feel free to comment if this was closed erroneously.

[2018-02-28 07:03] #209 closed

[2018-02-28 07:04] dakrone commented on #194
Closing this as it is very old and we already have an `add-cookie` method

[2018-02-28 07:04] #194 closed

[2018-02-28 07:05] dakrone commented on #191
Closing as there has been no progress on this in four years, the linked message contains a workaround. If anyone else would like this or disagrees let me know and I'll be happy to re-open it.

[2018-02-28 07:05] #191 closed

[2018-02-28 07:06] dakrone commented on #174
Closing as there has been no feedback and I believe this has been resolved, feel free to comment if this was closed erroneously.

[2018-02-28 07:06] #174 closed

[2018-02-28 07:17] dakrone commented on #252
Closing this as I believe it's been implemented with the `:keystore` functionality. If I'm mistaken please let me know and I'll be happy to re-open.

[2018-02-28 07:17] #252 closed

[2018-02-28 08:55] tirkarthi opened #437 "DNS rebinding attacks"
Is this library susceptible to [DNS rebinding](https://en.wikipedia.org/wiki/DNS_rebinding) attacks?

I wrote a [middleware](https://github.com/tirkarthi/clj-http-ssrf/) for the library to prevent [SSRF](https://www.acunetix.com/blog/articles/server-side-request-forgery-vulnerability/) and there was an [issue](https://github.com/tirkarthi/clj-http-ssrf/issues/1) reported regarding DNS rebinding. S

[2018-02-28 14:58] ejschoen commented on #407
Not sure this'll help, but abstractly, the code is used to scrape content from pages.

[code]

The `as` parameter is normally `nil,` `insecure` is normally `false`, and `cookie-store` is from `(clj-http.cookies/cookie-store)`.   So the body comes back as a string and we feed it into JSoup and snacktory when we get a good `:status` value.

[2018-02-28 17:07] rymndhng commented on #437
If I understand your question correctly, it's asking whether or not the DNS resolution used by clj-http (and Apache Commons HTTP) is the same as Java's built in `InetAddress`. And if not, then will this be succeptible to DNS rebinding attacks because teh cache is not shared.

[2018-02-28 18:52] tirkarthi commented on #437
Yes, I am using `(.getHostAddress (InetAddress/getByName server-name))` to get the host address in the middleware. I was wondering if this is the right approach and I hope it's handled by Http components which is battle tested. I don't know if I can deal with this at the middleware layer or if clj-http handles it that I don't need to worry about it.

[2018-02-28 21:10] rymndhng commented on #437
I think @dakrone would be best to chime in.

From browsing the code lightly, it looks like clj-http defers all the work to the underlying HTTPClient library. See [core#L299-320](https://github.com/dakrone/clj-http/blob/master/src/clj_http/core.clj#L299-L320). For an outbound request, it's creating Java objects from the underlying library to get a `HttpGet.`, `HttpPost.` object.

Hope that helps :)

[2018-03-08 20:57] rymndhng opened #438 "Back-porting :save-request to 3.x"
I'd like to use the re-implemented :save-request feature on the 3.x branch. @dakrone , wondered what your thoughts were doing this. Alternatively, I can fork for now and keep a separate version until 4.x becomes more stable.

update: nevermind it looks like it's there, more so releasing `3.8.x`

[2018-03-09 02:50] dakrone commented on #437
I did some research into this, as far as I can tell, Apache HTTP client
delegates to Java for the DNS resolution. I couldn't find anything related to
the Apache HTTP client and DNS rebinding. Checking out the [original paper
link](https://crypto.stanford.edu/dns/) has a line for this fix:

- October 3, 2007 DNS rebinding fix for Java released by Sun

Though the link no longer works.

From what I u

[2018-03-09 02:57] dakrone commented on #407
When you say "normally", what is the other option? Something I was originally
wondering about was whether the body could be returned as a stream that was not
being consumed, leading to consuming all of the available connection pool.

The other weird this is that a Pooling connection manager would be used at all,
looking at the code, if no connection pool is specified, a
`BasicHttpClientConnectionM

[2018-03-09 02:59] dakrone commented on #438
I can definitely do a release. I think 3.x definitely has had enough changes to warrant one. Give me a few and I'll release 3.8.0

[2018-03-09 03:10] dakrone commented on #438
Done! 3.8.0 has been released.

[2018-03-09 03:10] #438 closed

[2018-03-09 03:17] dakrone commented on #409
@alex-k1 can you expand on what sort of server you are trying to authenticate against? IIS? I'd like to try and set up a reproduction with whatever OS/software you're using.

[2018-03-09 03:48] danielcompton commented on #437
DNS rebinding is also a concern for server-side processes, it can enable a class of attacks called Server Side Request Forgery ([SSRF](https://www.owasp.org/index.php/Server_Side_Request_Forgery)). However I think that Java's DNS caching would prevent this.

[2018-03-09 04:03] dakrone commented on #196
I agree with this. I've started working on a way to do this.

[2018-03-09 04:13] dakrone commented on #437
Okay, in that case, I believe this can be closed unless someone knows any more about it. Feel free to let me know and I'm happy to re-open if we missed something

[2018-03-09 04:13] #437 closed

[2018-03-09 04:20] rymndhng commented on #438
Thank you! :D

[2018-03-09 04:56] tirkarthi commented on #437
Thanks a lot for the links on this. I will look into them and re-open if needed.

[2018-03-09 11:28] borkdude commented on #431
I'm uploading a file of 383KB and I'm seeing this exception:

org.apache.http.ContentTooLongException: Content length is too long: 383695

[2018-03-12 15:21] serioga commented on #371
Well, this allows me to configure builder as I want.
But as I see builder functions are called on every request what does not look perfect 😕

[2018-03-12 15:42] serioga commented on #371
Ah, I see in HELP WANTED :-)

[2018-03-12 16:05] jumarko opened #439 "No configuration for timeouts."
I couldn't find anything related to timeouts and I think this is a huge opportunity for improvement.
It should be possible (and really encouraged) to specify reasonable timeouts for every slack operation.
Otherwise, the app can freeze indefinitely.

clj-http provides a couple of options for configuring timeouts: https://github.com/dakrone/clj-http#post

* `:conn-timeout`
* `:socket-timeout`

There

[2018-03-12 16:06] jumarko commented on #439
Sorry - bad project. This was intended for clj-slack

[2018-03-12 16:06] #439 closed

[2018-03-14 03:36] dakrone commented on #196
I've pushed the beginning of this in https://github.com/dakrone/clj-http/pull/440

[2018-03-14 03:57] dakrone opened #441 "Investigate reusing HttpClient between requests"
It may not need to be created every time, instead, it could be reused.

Related to #371

[2018-03-14 03:57] dakrone commented on #371
@serioga I opened an issue to investigate HttpClient between requests at https://github.com/dakrone/clj-http/issues/441

[2018-03-14 05:16] #441 closed

[2018-03-14 05:17] dakrone commented on #441
@serioga please check out https://github.com/dakrone/clj-http/commit/98885eb3bd9c54949f97231d020df2af15036d62 and let me know if that works for you!

[2018-03-14 15:47] serioga commented on #441
@dakrone do you want me to check before releasing or clojars or I can wait for release?
The commit looks promising :-)

[2018-03-14 23:37] dakrone commented on #441
@serioga if the commit looks like it will provide what you need that's good enough for me, it'll go out in the 3.9.0 release. I just released 3.8.0 though, so it may be a little bit before another release

[2018-03-14 23:39] dakrone opened #442 "Add documentation for configuring Apache's logging"
It'd be great if there were docs for dynamically changing log levels or something, perhaps with log4j and timbre

[2018-03-14 23:48] dakrone commented on #258
@sgrove @atroche have either of you been seeing this lately? I'm circling back to this issue and I'd like to know whether this still reproduces for you.

I gave it another shot reproducing but it doesn't seem to occur for me (still returns a 403). I also attempted to register at the site so I had valid credentials but it appears to cost money (maybe I registered at the wrong site?)

[2018-03-14 23:51] dakrone commented on #277
Revisiting this, I'm not sure clj-http should attempt to do anything in this case, I think it's a legitimate exception that is thrown and should be caught by the user of clj-http.

I'm going to close this (again) for now, but if someone has a reason why clj-http should do something in this case, let me know and I'm happy to revisit this.

[2018-03-15 00:27] #251 closed

[2018-03-15 00:28] dakrone commented on #251
I added a better way to abort the request along with the future and some docs for it, let me know if this doesn't work for you and I'll be happy to revisit it.

[2018-03-15 08:15] bladealslayer commented on #277
I think ideally, clj-http would not throw, but return the server's response (which would probably have status code 413 or something similar).

[2018-03-15 08:48] serioga commented on #441
@dakrone architecturally it looks perfect 👍

[2018-03-21 03:03] #196 closed

[2018-03-21 03:07] dakrone commented on #442
Resolved by 1e530f7679c1497da6b845d4a52ff06c102e9ba0

[2018-03-21 03:07] #442 closed

[2018-03-21 03:08] dakrone commented on #441
Excellent, it'll be in the next release then!

[2018-03-21 03:37] dakrone commented on #277
Okay, I'm reopening this to look into it more. For reference, here's the RFC mentioning this:

[code]

The difficult thing here (and not disagreeing with you necessarily about the behavior) is that the server sends the error status (okay so far), so the client stops sending data, but on the connection side, it appears that it's http-kit that is actually closing the connection, not clj-http, in whi

[2018-03-21 03:52] dakrone commented on #277
Also, I was able to reproduce this on a server other than http-kit, so I'm glad it's not dependent on that.

[2018-03-21 04:14] dakrone commented on #277
@bladealslayer after some more research, I found a couple of things:

It's known that Apache does this, it's unfortunately a lose-lose situation:

- If the server closes the socket it saves the bandwidth of actually reading the
  response, this is what http-kit (and some other servers) does. However, this
  is a double-edged sword from the browser perspective because most[0] browsers
  will then b

[2018-03-22 02:32] RutledgePaulV commented on #251
Changes look good if using async. In my case I was handing off a synchronous stream to a downstream connection (a browser). When that connection closed I wanted to abort the http request instead of waiting for it to finish downloading from the upstream. I added that ability to the "close" method of the input stream.

There's a good chance I could refactor that code to be asynchronous and use the o

[2018-03-22 02:36] RutledgePaulV commented on #407
This sounds kinda similar to the issues in https://github.com/dakrone/clj-http/issues/251. Basically you need to take special care to cleanup connections after the reading of a response is interrupted otherwise that response continues to be downloaded (consuming one of the available pool threads).

[2018-03-22 15:43] ejschoen commented on #407
Apologies for not responding sooner.  Two answers:

1. I looked back at our code from when I originally reported this, and I can confirm that none of our code was binding `*connection-manager*` at that time.
 2. The `:as` parameter in the `clj-http.client/get` call is `:stream` when we are fetching an RSS feed.  We pass the stream onto [feedparser-clj](https://github.com/scsibug/feedparser-clj)'s

[2018-03-25 03:27] dakrone commented on #407
It does not, in that case, the stream would still be around and the connection pool can't close until the stream has been read, see:

https://github.com/dakrone/clj-http/blob/master/src/clj_http/core.clj#L347-L358

Where the connection pool is only closed when the stream is closed.

Does this still occur if you use `with-open` to handle closing the stream in the event an exception is thrown, such

[2018-03-25 03:29] dakrone commented on #299
I agree with @RutledgePaulV, I think this is a little out of the scope for clj-http, would documenting that the library works be a good solution for now @maruks?

[2018-03-25 03:33] dakrone commented on #299
I pushed 36bdc14498516af16639cc7a5f0c181dbed4a448 related to this

[2018-03-25 03:41] dakrone opened #443 "java.lang.IllegalStateException: Illegal state ACTIVE when running integration tests"
When running the integration tests, this ERROR is currently logged:

[code]

It would be good to investigate what is causing this bad behavior.

[2018-03-25 03:53] dakrone commented on #443
Here's an example test that causes the failure: `lein test :only clj-http.test.client-test/t-with-async-pool`

[2018-03-28 03:06] #443 closed

[2018-03-29 14:39] ejschoen commented on #407
This all makes sense, but I'm still worried that I haven't found the case that was causing the pool starvation.

Here is some test code (warn, error, etc are from com.taoensso/timbre):

[code]

I tried this with a feed that our system thinks is bad:  http://feeds.feedburner.com/gigalaw
Here's what got printed on the console:
[code]

This is what I'd expect.  The `with-open` scope closes the stream

[2018-04-01 03:01] dakrone commented on #407
Okay, let's try to get some logging from Apache, I've documented how to hook up the apache client's http logging at https://github.com/dakrone/clj-http/#logging can you give that a try with `DEBUG` logging turned on, that should give us intimate details about connection reuse, closing, etc for the connection pool and request objects.

[2018-04-05 11:07] andersenleo opened #444 "Documentation on `get-cookie-policy` not correct?"
I'm accessing the Datadog REST API and get an error due to "Invalid cookie header":

[code]
I've worked around this by removing the `wrap-cookies` middleware for the request like this:

`(http/with-middleware (remove #(= % clj-http.cookies/wrap-cookies) http/default-middleware) .... )`.

I still get the warning though.

I was under the impression that I could declare a `(defmethod get-cookie-polic

[2018-04-06 01:58] dakrone commented on #444
@andersenleo as for the "Invalid 'expires' attribute" error, can you try setting `{:cookie-policy :standard}` in the request options and see if that works for you? This sounds related to #325.

You're right, the documentation here is incorrect. Currently the `get-cookie-policy` method returns a String that will be used for lookup for the cookie spec. Let me do some research about a way to fix this

[2018-04-06 06:00] andersenleo commented on #444
If I use the `:standard` cookie-policy with my code like this (with the middleware hack in place):

[code]
I no longer get the warning printed on STDERR 👍

But if I leave out the middleware hack, I still get an error:

[code]

[2018-04-07 11:06] edmondkong commented on #226
Hi,

Did you manage to resolve this in the end?

I am currently running into the exact same issue. I am trying to proxy requests to http://127.0.0.1:3000 (Grafana service) through my Clojure application at the path http://127.0.0.1/grafana. When I try to access this path through the browser, it gives me the ERR_INVALID_CHUNKED_ENCODING error.

I'm aware that this is an old issue but perhaps you co

[2018-04-11 03:15] dakrone commented on #444
For now, since you don't need the cookies, can you set `:decode-cookies false` in the request? that should prevent the middleware from trying to parse the cookies.

I'm still looking into the other aspects, this is a complex part of the apache client!

[2018-04-14 22:28] RokLenarcic opened #445 "CacheConfig option for HttpClient"
Currently the client doesn't support setting CacheConfig, which would enable the client to honor the caching headers are per RFC. All that is really needed is a change to `build-http-client` to read `:cache-config` request option for a possible `CacheConfig` object.

Example use from HttpComponents:

[code]

[2018-04-17 15:27] d4hines commented on #409
I'm having the same issue. I'll try to provide what details I can, but I admittedly don't know much about NTLM (nor do I have access to our corporate servers). I tried the code that @Eilie initially posted (`...(NTCredentials. login pass host domain)...`) and it works; however, it does print the following warning:

WARNING: NEGOTIATE authentication error: No valid credentials provided (Mechanism l

[2018-04-17 17:58] alex-k1 commented on #409
@dakrone I don't have access to underlying server, but from logs it is Microsoft-IIS/8.5 and connection is made from macOS High Sierra

[2018-04-17 18:02] alex-k1 commented on #409
@d4hines try this snippet, it should work

[code]

[2018-04-17 18:08] d4hines commented on #409
Ah, thank you @alex-k1!  Based on the docs, is that how clj-http intends us to use NTLM?

[2018-04-18 02:37] dakrone commented on #445
Sounds good, I'll add this

[2018-04-19 02:12] dakrone opened #446 "Investigate using a code coverage tool"
clj-http has a lot of tests, but it would be good to know exactly what's not being exercised.

There are some automated tools out there that can show coverage, it'd be great to hook one of those up.

[2018-04-19 02:25] #445 closed

[2018-04-19 02:26] dakrone commented on #445
@RokLenarcic I've pushed a commit that adds this! can you take a look (at the commit or master branch) and let me know what you think?

[2018-04-19 03:10] dakrone commented on #409
Yes that's the intent, you should not have to use a connection pool to use NTLM auth

[2018-04-19 03:30] dakrone commented on #409
Actually, what I previously wrote is incorrect, I've done more reading on NTLM auth and it turns out to require a persistent connection, rather than a once-per-request authentication.

I've pushed a commit to master to bring the NTLM auth that clj-http does closer to the original (working) example, can someone with access to an IIS machine see if it makes any difference if you do:

[code]

Also, c

[2018-04-19 09:15] RokLenarcic commented on #445
Looks great!

[2018-04-20 08:54] aleksandersumowski commented on #441
Any timeline for 3.9 release?

I'd like to instrument my clj-http calls with X-Ray and I understand this feature would allow me to pass TracedHttpClient[1] to clj-http.

[1] https://github.com/aws/aws-xray-sdk-java/blob/master/aws-xray-recorder-sdk-apache-http/src/main/java/com/amazonaws/xray/proxies/apache/http/TracedHttpClient.java

[2018-04-25 01:57] dakrone commented on #444
Okay, glad to hear that, for now then, I'm going to resolve this.

[2018-04-25 01:57] #444 closed

[2018-04-25 01:58] dakrone commented on #441
Hi @aleksandersumowski I would expect a 3.9 release sometime in the next week or so, would that work for you?

[2018-04-25 02:42] dakrone commented on #446
As a note, I have tried https://github.com/cloverage/cloverage but I have not been able to get it to run yet.

[2018-04-25 06:27] aleksandersumowski commented on #441
yes, that would work. thanks a lot for great work!

[2018-04-26 12:49] atroche commented on #258
Just tested it out, and it's fixed now :)

[2018-04-26 12:56] atroche commented on #258
Oh, and that's on master AND the 3.x branch

[2018-04-26 12:59] atroche opened #447 ":response-interceptor example in README doesn't seem to work"
On master, when I tried out this snippet from https://github.com/dakrone/clj-http/tree/master#debugging:

[code]

I got this:

[code]

No idea if this is a useful thing to point out (e.g. maybe that feature is getting dropped but it's not time to update the docs on master yet).

[2018-04-26 15:00] d4hines commented on #409
@dakrone, thank you for making that change, I don't want this thread to die, but I'm tied up with another project atm. I'll test this out as soon as I can to confirm it's working.

[2018-04-27 12:50] dakrone commented on #409
Okay no problem, I’ll leave this open to until you get a chance to test
;; Lee

On Thu, Apr 26, 2018, at 9:00 AM, Daniel Hines wrote:

[2018-04-27 16:34] dakrone commented on #258
Great, thanks!

[2018-04-27 16:34] #258 closed

[2018-04-27 16:35] dakrone commented on #447
@atroche sorry for the confusion, you should use the `3.x` branch for now. I've made it the new default branch for github. `master` is where I'm currently working on the Apache 5 upgrade, so things are in a state of flux

[2018-05-13 01:46] d4hines commented on #409
@dakrone, I've tested it and it's definitely working. I also have the debug logs for you. Dumb question: how do I scrub these in a way that's safe to post to the internet? I'm not sure how NTLM headers work, but I assume I should redact them from the log. Anything else?

[2018-05-18 00:19] rymndhng opened #450 "HeaderMap's implementation of IAssociative should implement EntryAt"
For example, I would expect `select-keys` to return something, however it doesn't.

[code]

It looks as though we don't override entryAt, see https://github.com/clojure/clojure/blob/master/src/jvm/clojure/lang/Associative.java#L15 which is why this `select-keys` doesn't do anything.